{% extends "./cvbase.html" %}

{% block extrastyles %}
<script type="text/javascript" src="{{ STATIC_URL }}js/list.min.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}js/list.paging.min.js"></script> 
{% endblock %}

{% block content %}
<style>
	table {font-size: 0.7em;}
	th { font-weight: 700;}
	th, td { border-bottom: 1px solid #eee; padding: .5em; max-width: 500px}
	.sort { text-decoration: underline; cursor: pointer;}
	.sort:hover { background-color: #eee;}
	tbody tr:hover { background-color: #f3f3f3;}
</style>

<div class="block">
	<ul class="">
        <li class="butt" id="filter-none">Show all</li>
        <li class="butt" id="filter-dep-se">Only show Software Engineering</li>
    </ul>

	<table id="changelist">
		<thead>
			<tr><th colspan="5"><input class="search" /></th></tr>
			<tr>
				<th class="sort" data-sort="t_time">Time</th>
				<th class="sort" data-sort="t_name">Person changed</th>
				<th class="sort" data-sort="t_user">Edited by</th>
				<th class="sort" data-sort="t_location">Location</th>
				<th class="sort" data-sort="t_department">Department</th>
				<th>Change</th>
			</tr>
		</thead>
		<tbody class="list">
			{% for entry in log %}
			<tr>
				<td class="t_time">{{ entry.action_time|date:"Y-m-d H:i" }}</td>
				<td class="t_name">
					<i class="icon-{% if entry.is_addition %}plus{% endif %}{% if entry.is_change %}edit{% endif %}{% if entry.is_deletion %}remove{% endif %}"></i>
					{{ entry.personname }}
					{% if entry.content_type %}
		            	<span>({{ entry.content_type.name }})</span>
		            {% else %}
		            	<span>(Unknown content)</span>
		            {% endif %}
		        </td>
				<td class="t_user">{{ entry.user }}</td>
				<td class="t_location">{{ entry.location }}</td>
				<td class="t_department">{{ entry.department }}</td>
				<td>{{ entry.change_message }}</td>
		    </tr>
		    {% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="paging"></td>
			</tr>
		</tfoot>
	</table>
</div>

<script>
	var options = {
	    valueNames: [ 't_time', 't_name', 't_user', 't_location', 't_department' ],
		page: 50,
		plugins: [
		  [ 'paging' ]
		]
	};
	var changelist = new List('changelist', options);

    $('#filter-dep-se').click(function() {
        changelist.filter(function(item) {
            if (item.values().t_department == "Software Engineering") {
                return true;
            } else {
                return false;
            }
        });
        return false;
    });

    $('#filter-none').click(function() {
        changelist.filter();
        return false;
    });

</script>

{% endblock %}