{% extends "./cvbase.html" %}
{% load image_tags %}

{% block title %}CV{% endblock %}

{% block actions %}
	<h1>ACS Persons</h1>
	<input type="text" name="filter" id="filter" size="30" style="margin:0;" placeholder="Search" autofocus/>
	{% if user.is_authenticated %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url admin:cv_person_add %}" class="butt"><i class="icon-plus-sign"></i> Add new person</a>
	{% endif %}
	<div id="facets"></div>
{% endblock %}

{% block content %}
	<div id="results">
	{% if all_persons %}
		{% for p in all_persons|dictsort:"name" %}
			<div class="block tiled">
			
				<header>
					<h3>{{ p.name }}</h3>
					<h4>{% if p.title %}{{ p.title }}{% else %} ---{% endif %}</h4>
				</header>
				{% if p.image %}
					<img src="{{ p.image|scale:"110x110" }}" class="photo" style="float: left;">
				{% endif %}
				<div class="completeness">
					<div class="percent{% if p.completeness.percent < 100 %} redpercent{% endif %}" style="width: {{ p.completeness.percent }}%;"></div>
				</div>
				<section>
					<p class="ldetail">{{ p.phone }}<br/>
					{{ p.mail }}</p>
				</section>

				<div class="cvset">
					{% if user.is_authenticated %}
						<p class="ldetail">
							Profile {{ p.completeness.percent }}% complete. Updated: {{ p.last_edited|date:"SHORT_DATE_FORMAT" }}
						</p>
						{% if p.completeness.comment %}<ul class="ldetail">{{ p.completeness.comment|unordered_list }}</ul>{% endif %}
						<a href="{% url admin:cv_person_change p.id %}" class="butt">Edit person</a>
					{% endif %}
					<table>
					{% for cv in p.cv_set.all|dictsortreversed:"cvsort" %}
						{% if user.is_anonymous and cv.tags == "Empty CV" or p.completeness.percent < 10 %}
						{% else %}
						<tr>
							<td><a href="{% url cv_detail cv.id %}" class="butt bigbutt{% if cv.tags = "Empty CV" %} empty{% elif not cv.is_recent or not cv.status.complete %} red{% endif %}" title="{{ cv.status.comment }}">{{ cv.tags }}<br/>
							<span class="dato">{% if cv.tags != "Empty CV" %}{{ cv.last_edited|date:"SHORT_DATE_FORMAT" }} <span class="completeness"><span class="percent{% if cv.status.percent < 100 %} redpercent{% endif %}" style="width: {{ cv.status.percent }}%;"></span></span> {{ cv.status.percent }}%{% else %}&nbsp;{% endif %}</span></a></td>
							{% if user.is_authenticated %}
								<td><a href="{% url admin:cv_cv_change cv.id %}" class="butt">Edit<br/>
								<span class="dato">CV</span></a></td>
							{% endif %}
						</tr>
						{% endif %}
					{% endfor %}
					</table>
				</div>
				
			</div>
		{% endfor %}

	{% else %}
	{% endif %}
	</div>

	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/doT.min.js"></script>
	<script id="persontemplate" type="text/x-dot-template">
		<div class="block tiled" id="p<%=p.id%>">
			<header>
				<h3><%=p.name%><%? p.country %> <img src="{{ STATIC_URL }}img/flags/<%=p.country%>.gif" width="16" height="11" alt="<%=p.country%>"/><%?%></h3>
				<h4><%=p.title%></h4>
			</header>
			<%?p.image%><img src="/media/<%=p.image%>" class="photo" style="float: left;"><%?%>

			<div class="completeness">
				<div class="percent<%? p.completeness.percent < 100 %> redpercent<%?%>" style="width: <%=p.completeness.percent%>%;"></div>
			</div>
			<section><p class="ldetail"><%=p.phone%><br/><%=p.mail%></p></section>
			<div class="cvset">
				{% if user.is_authenticated %}
					<p class="ldetail">Profile <%=p.completeness.percent%>% complete. Updated: <%=p.last_edited%></p>
					<%? p.completeness.comment %><ul class="ldetail"><%~p.completeness.comment :value:index%><li><%=value%></li><%~%></ul><%?%>
					<a href="{% url admin:cv_person_change "XXXpidXXX" %}" class="butt">Edit person</a>
				{% endif %}
				<table>
				<%~p.cv :cv:index%>
					<%? p.completeness.percent > 10 {% if user.is_anonymous %}&& cv.tags != "Empty CV"{% endif %} %> 
					<tr>
						<td>
							<a href="{% url cv_detail "999999" %}" class="butt bigbutt<%? cv.tags == "Empty CV" %> empty<%?? !cv.is_recent || !cv.status.complete %> red<%?%>" title="<%=cv.status.comment%>"><%=cv.tags%><br/>
							<span class="dato"><%? cv.tags != "Empty CV" %><%=cv.last_edited%>
								<span class="completeness"><span class="percent<%? cv.status.percent < 100 %> redpercent<%?%>" style="width: <%=cv.status.percent%>%;"></span></span>
							 <%=cv.status.percent%>%<%??%>&nbsp;<%?%></span></a>
						</td>
						{% if user.is_authenticated %}
							<td><a href="{% url admin:cv_cv_change "XXXcvidXXX" %}" class="butt">Edit<br/>
							<span class="dato">CV</span></a></td>
						{% endif %}
					</tr>
					<%?%>
				<%~%>
				</table>
			</div>
		</div>
	</script> 
	<script id="facettemplate" type="text/x-dot-template">
		<label><input type="checkbox" name="<%=p.name%>" onChange="toggleFacet('<%=p.name%>','<%=p.facet%>',this);"/><%=p.name%></label><br/>
	</script>
	<script>

		doT.templateSettings = {
		  evaluate:    /\<\%([\s\S]+?)\%\>/g,
		  interpolate: /\<\%=([\s\S]+?)\%\>/g,
		  encode:      /\<\%!([\s\S]+?)\%\>/g,
		  use:         /\<\%#([\s\S]+?)\%\>/g,
		  define:      /\<\%##\s*([\w\.$]+)\s*(\:|=)([\s\S]+?)#\%\>/g,
		  conditional: /\<\%\?(\?)?\s*([\s\S]*?)\s*\%\>/g,
		  iterate:     /\<\%~\s*(?:\%\>|([\s\S]+?)\s*\:\s*([\w$]+)\s*(?:\:\s*([\w$]+))?\s*\%\>)/g,
		  varname: 'p',
		  strip: true,
		  append: true,
		  selfcontained: false
		};
		var personTemplate = $('#persontemplate').text();
		// This is not very pretty, but it works.
		personTemplate = personTemplate.replace('XXXcvidXXX','<%=cv.id%>').replace('XXXpidXXX','<%=p.id%>').replace('999999','<%=cv.id%>');
		var personRender = doT.template(personTemplate);

		var facetTemplate = $('#facettemplate').text();
		var facetRender = doT.template(facetTemplate);

		var filterTxt='';
		var searchrequest;
		//var defaultlist;
		var solrurl = "/solr/collection1/select";
	 	var solrdata = {'q':'*','wt':'json','indent':'true','sort':'name_exact asc','rows':50, 'hl': 'false', 'facet': 'true', 'facet.field': ['location_exact', 'department_exact'], 'fq':[]};

		searchrequest = $.ajax({
			type:"get",
			url: solrurl,
			data: solrdata,
			traditional: true,
			cache: false
		}).done(function( data ) {
			//defaultlist = data;
			renderResults(data);
			data = jQuery.parseJSON( data );
			showFacets(data.facet_counts.facet_fields);
		});

		$('#filter').keyup( function(event) {
		    if(typeof searchrequest !== 'undefined')
		        searchrequest.abort();
			filterTxt = $(this).val();
			if(filterTxt != '') {
				solrdata.q = filterTxt+'*';
				solrdata.hl = 'true';
				doSearch();
			} else {
				solrdata.q = '*';
				solrdata.hl = 'false';
				doSearch();
				//renderResults(defaultlist);
			}

		});

		function doSearch(){
			searchrequest = $.ajax({
				type:"get",
				url: solrurl,
				data: solrdata,
				traditional: true,
				cache: false
			}).done(function( data ) {
				renderResults(data);
			});
		}

		function renderResults(data) {
			data = jQuery.parseJSON( data );
			var html = "";
			if(data.response.numFound > 0){
				var ppl = data.response.docs;
				for(i=0;i<ppl.length;i++) {
					var person = jQuery.parseJSON( data.response.docs[i].rendered );
					person.image = person.image.replace(/(.jpg|.png)/gi,'_scale_110x110.jpg');
					html += personRender(person);
				}
			} else {
				html = "No people found for search " + data.responseHeader.params.q;
			}
			displayResults(html);
			showHighlights(data.highlighting);
		}

		function showHighlights(highlights){
			for( var person in highlights ){
				var pid = person.replace(/cv.person./, 'p');
				for( var highlight in highlights[person] ) {
					$('#'+pid + ' .cvset').prepend('<div class="highlight">...'+highlights[person][highlight]+'...</div>');
				}
			}
		}

		function showFacets(facets){
			var facethtml = "";
			for( var facet in facets ){
				var content = "";
				for (i=0;i<facets[facet].length;i+=2){
					var facetdata = {
						facet: facet,
						name: facets[facet][i],
						count: facets[facet][i+1]
					}
					content += facetRender(facetdata);
				}
				facethtml += '<div class="facetfilter"><h3>'+facet.replace('_exact','')+'</h3>'+content+'</div>';
			}
			$("#facets").append( facethtml );	
		}

		function toggleFacet(facet,facetname,t){
			// fq:['location:(oslo OR gothenburg)','department:software engineering']
			var facetentry = facetname+":"+facet;
			if(t.checked){
				fq.addFacet(facet, facetname);
			} else {
				fq.removeFacet(facet, facetname);
			}
			doSearch();
		}

		var fq = {
			facets: {},
			addFacet: function(facet, facetname) {
				if(this.facets[facetname] === undefined)
					this.facets[facetname] = [];
				this.facets[facetname].push(facet);
				this.updateFq();
			},
			removeFacet: function(facet, facetname) {
				var i = this.facets[facetname].indexOf(facet);
				if(i >= 0) {
					this.facets[facetname].splice(i, 1);
				}
				this.updateFq();
			},
			updateFq: function(){
				var results = [];
				var result = "";
				for( var f in this.facets ) {
					if( this.facets[f].length > 0 ) {
						result += f + ":(";
						for(i=0;i<this.facets[f].length;i++) {
							result += '"'+this.facets[f][i]+'"';
							if(this.facets[f][+i+1] !== undefined) 
								result+=" OR ";
						}
						result += ")";
					}
					results.push(result);
				}
				solrdata.fq = result;
			}
		}

		function displayResults(text) {
			$("#results").html(text);
		}

	</script>

{% endblock %}
