{% extends "./cvbase.html" %}
{% load image_tags %}

{% block title %}CV{% endblock %}

{% block actions %}
	<h1>ACS Persons</h1>
	<input type="text" name="filter" id="filter" size="30" style="margin:0;" placeholder="Search" autofocus/>
	{% if user.is_authenticated %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url admin:cv_person_add %}" class="butt"><i class="icon-plus-sign"></i> Add new person</a>
	{% endif %}
{% endblock %}

{% block content %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/doT.min.js"></script>
	<script id="persontemplate" type="text/x-dot-template">
		<div class="block tiled">
			<header>
				<h3><%=p.name%></h3>
				<h4><%=p.title%></h4>
			</header>
			<%?p.image%><img src="/media/<%=p.image%>" class="photo" style="float: left;"><%?%>

			<div class="completeness">
				<div class="percent<%? p.completeness.percent < 100 %> redpercent<%?%>" style="width: <%=p.completeness.percent%>%;"></div>
			</div>
			<section><p class="ldetail"><%=p.phone%><br/><%=p.mail%></p></section>
			<div class="cvset">
				{% if user.is_authenticated %}
					<p class="ldetail">Profile <%=p.completeness.percent%>% complete. Updated: <%=p.last_edited%></p>
					<%? p.completeness.comment %><ul class="ldetail"><%~p.completeness.comment :value:index%><li><%=value%></li><%~%></ul><%?%>
					<a href="{% url admin:cv_person_change "XXXpidXXX" %}" class="butt">Edit person</a>
				{% endif %}
				<table>
				<%~p.cv :cv:index%>
					<%? p.completeness.percent > 10 {% if user.is_anonymous %}&& cv.tags != "Empty CV"{% endif %} %> 
					<tr>
						<td>
							<a href="{% url cv_detail "999999" %}" class="butt bigbutt<%? cv.tags == "Empty CV" %> empty<%?? !cv.is_recent || !cv.status.complete %> red<%?%>" title="<%=cv.status.comment%>"><%=cv.tags%><br/>
							<span class="dato"><%? cv.tags != "Empty CV" %><%=cv.last_edited%>
								<span class="completeness"><span class="percent<%? cv.status.percent < 100 %> redpercent<%?%>" style="width: <%=cv.status.percent%>%;"></span></span>
							 <%=cv.status.percent%>%<%??%>&nbsp;<%?%></span></a>
						</td>
						{% if user.is_authenticated %}
							<td><a href="{% url admin:cv_cv_change "XXXcvidXXX" %}" class="butt">Edit<br/>
							<span class="dato">CV</span></a></td>
						{% endif %}
					</tr>
					<%?%>
				<%~%>
				</table>
			</div>
		</div>
	</script> 
	<script>

		doT.templateSettings = {
		  evaluate:    /\<\%([\s\S]+?)\%\>/g,
		  interpolate: /\<\%=([\s\S]+?)\%\>/g,
		  encode:      /\<\%!([\s\S]+?)\%\>/g,
		  use:         /\<\%#([\s\S]+?)\%\>/g,
		  define:      /\<\%##\s*([\w\.$]+)\s*(\:|=)([\s\S]+?)#\%\>/g,
		  conditional: /\<\%\?(\?)?\s*([\s\S]*?)\s*\%\>/g,
		  iterate:     /\<\%~\s*(?:\%\>|([\s\S]+?)\s*\:\s*([\w$]+)\s*(?:\:\s*([\w$]+))?\s*\%\>)/g,
		  varname: 'p',
		  strip: true,
		  append: true,
		  selfcontained: false
		};
		var personTemplate = $('#persontemplate').text();
		// This is not very pretty, but it works.
		personTemplate = personTemplate.replace('XXXcvidXXX','<%=cv.id%>').replace('XXXpidXXX','<%=p.id%>').replace('999999','<%=cv.id%>');
		var personRender = doT.template(personTemplate);

		$(function() {
			
			var filterTxt;
			var searchrequest;
			var defaultlist;

			searchrequest = $.ajax({
				type:"get",
				url: "/solr/collection1/select",
				data: {'q':'*','wt':'json','indent':'true','sort':'name_exact asc','rows':50},
				cache: false
			}).done(function( data ) {
				defaultlist = data;
				renderResults(data);
			});

			$('#filter').keyup( function(event) {
			    if(typeof searchrequest !== 'undefined')
			        searchrequest.abort();
				filterTxt = $(this).val();
				if(filterTxt != '') {
					searchrequest = $.ajax({
						type:"get",
						url: "/solr/collection1/select",
						data: {'q':filterTxt+'*','wt':'json','indent':'true','sort':'name_exact asc','rows':50},
						cache: false
					}).done(function( data ) {
						renderResults(data);
					});
				} else {
					renderResults(defaultlist);
				}

			});

			function renderResults(data) {
				data = jQuery.parseJSON( data );
				var html = "";
				if(data.response.numFound > 0){
					var ppl = data.response.docs;
					for(i=0;i<ppl.length;i++) {
						var person = jQuery.parseJSON( data.response.docs[i].rendered );
						person.image = person.image.replace('.jpg','_scale_110x110.jpg');
						html += personRender(person);
					}
				} else {
					html = "No people found for search " + data.responseHeader.params.q;
				}
				displayResults(html);
			}

			function displayResults(text) {
				$("#results").html(text);
			}

		});
	</script>
	<div id="results">
	{% if all_persons %}
		{% for p in all_persons|dictsort:"name" %}
			<div class="block tiled">
			
				<header>
					<h3>{{ p.name }}</h3>
					<h4>{% if p.title %}{{ p.title }}{% else %} ---{% endif %}</h4>
				</header>
				{% if p.image %}
					<img src="{{ p.image|scale:"110x110" }}" class="photo" style="float: left;">
				{% endif %}
				<div class="completeness">
					<div class="percent{% if p.completeness.percent < 100 %} redpercent{% endif %}" style="width: {{ p.completeness.percent }}%;"></div>
				</div>
				<section>
					<p class="ldetail">{{ p.phone }}<br/>
					{{ p.mail }}</p>
				</section>

				<div class="cvset">
					{% if user.is_authenticated %}
						<p class="ldetail">
							Profile {{ p.completeness.percent }}% complete. Updated: {{ p.last_edited|date:"SHORT_DATE_FORMAT" }}
						</p>
						{% if p.completeness.comment %}<ul class="ldetail">{{ p.completeness.comment|unordered_list }}</ul>{% endif %}
						<a href="{% url admin:cv_person_change p.id %}" class="butt">Edit person</a>
					{% endif %}
					<table>
					{% for cv in p.cv_set.all|dictsortreversed:"cvsort" %}
						{% if user.is_anonymous and cv.tags == "Empty CV" or p.completeness.percent < 10 %}
						{% else %}
						<tr>
							<td><a href="{% url cv_detail cv.id %}" class="butt bigbutt{% if cv.tags = "Empty CV" %} empty{% elif not cv.is_recent or not cv.status.complete %} red{% endif %}" title="{{ cv.status.comment }}">{{ cv.tags }}<br/>
							<span class="dato">{% if cv.tags != "Empty CV" %}{{ cv.last_edited|date:"SHORT_DATE_FORMAT" }} <span class="completeness"><span class="percent{% if cv.status.percent < 100 %} redpercent{% endif %}" style="width: {{ cv.status.percent }}%;"></span></span> {{ cv.status.percent }}%{% else %}&nbsp;{% endif %}</span></a></td>
							{% if user.is_authenticated %}
								<td><a href="{% url admin:cv_cv_change cv.id %}" class="butt">Edit<br/>
								<span class="dato">CV</span></a></td>
							{% endif %}
						</tr>
						{% endif %}
					{% endfor %}
					</table>
				</div>
				
			</div>
		{% endfor %}

	{% else %}
	{% endif %}
	</div>

	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

{% endblock %}
