{% extends "cv/cvlistbase.html" %}
{% load image_tags %}

{% block content %}
	{% if all_persons %}
		{% for p in all_persons|dictsort:"name" %}
			<div class="person">
				<div class="personhead">
					<h4>{{ p.name }}</h4>
					<h5>{% if p.title %}{{ p.title }}{% else %} ---{% endif %}</h5>
					<img src="{% if p.image %}{{ p.image|scale:"110x110" }}{% endif %}" class="photo" style="float: left;">
					{% if user.is_authenticated %}
					<a href="/admin/cv/person/{{ p.id }}/" class="button edit">Edit<br/>person</a>
					{% endif %}
					<table style="font-size: 0.6em;">
						<tr><td>Tech:</td><td>{{ p.technology_set.count }}</td></tr>
						<tr><td>Exp:</td><td>{{ p.experience_set.count }}</td></tr>
						<tr><td>Work:</td><td>{{ p.workplace_set.count }}</td></tr>
						<tr><td>Edu:</td><td>{{ p.education_set.count }}</td></tr>
						<tr><td>Other:</td><td>{{ p.other_set.count }}</td></tr>
					</table>
					<p class="techs">{% for t in p.technology_set.all %}{{t.data}}{{t.data_en}}{% endfor %}</p>
				</div>
				
				<div class="cvset">
					<table>
					{% for cv in p.cv_set.all|dictsortreversed:"cvsort" %}
						<tr>
							<td><a href="/cv/{{ cv.id }}/" class="button wide{% if not cv.is_recent %} red{% endif %}{% if cv.tags = "Empty CV" %} empty{% endif %}">{{ cv.tags }} <br/>
							<span class="dato">{{ cv.last_edited|date:"SHORT_DATE_FORMAT" }}</span></a></td>
							{% if user.is_authenticated %}
								<td><a href="/admin/cv/cv/{{ cv.id }}" class="button{% if not cv.is_recent %} red{% endif %}">Edit<br/>
								<span class="dato"> &nbsp;</span></a></td>
							{% endif %}
					</tr>
					{% endfor %}
					</table>
				</div>
				
			</div>
		{% endfor %}
	{% else %}
		<div class="person">
			<p>Her er det ingen CVer, dessverre!</p>
		</div>
	{% endif %}
{% endblock %}