{% extends "cv/mbase.html" %}
{% load image_tags %}

{% block menu %}
	<a href="/m/" class="button topb">Back to list</a>
{% endblock %}
			
{% block content %}
	<article class="person">
		{% if user.is_authenticated %}
			<a href="/admin/cv/person/{{ p.id }}/" class="button edit">Edit<br/>person</a>
		{% endif %}
		<img src="{% if p.image %}{{ p.image|scale:"110x110" }}{% endif %}" class="photo" style="float: right;">
		<h4>{{ p.name }}</h4>
		<h5>{% if p.title %}{{ p.title }}{% else %} ---{% endif %}</h5>
		{% if user.is_authenticated %}
			<p style="font-size: 0.8em"><acronym title="{{ p.completeness.comment }}"><span class="completeness"><span class="percent{% if p.completeness.percent < 100 %} redpercent{% endif %}" style="width: {{ p.completeness.percent }}%;"></span></span>{{ p.completeness.percent }}% </acronym> Updated: {{ p.last_edited|date:"SHORT_DATE_FORMAT" }}</p>
		{% else %}
			<p style="font-size: 0.7em">{{ p.phone }} - {{ p.mail }}</p>
		{% endif %}
	</article>
	<article class="person">
		{% for cv in p.cv_set.all|dictsortreversed:"cvsort" %}
			{% if user.is_anonymous and cv.tags == "Empty CV" %}
			{% else %}
			<div>
				<span style="width: 70%;">
					<a href="/cv/{{ cv.id }}/" class="button{% if not cv.is_recent or not cv.status.complete and cv.tags != "Empty CV" %} red{% endif %}{% if cv.tags = "Empty CV" %} empty{% endif %}" style="width:80%;" title="{{ cv.status.comment }}">{{ cv.tags }}<br/>
					<span class="dato">{% if cv.tags != "Empty CV" %}{{ cv.last_edited|date:"SHORT_DATE_FORMAT" }} <span class="completeness"><span class="percent{% if cv.status.percent < 100 %} redpercent{% endif %}" style="width: {{ cv.status.percent }}%;"></span></span> {{ cv.status.percent }}%{% else %}&nbsp;{% endif %}</span></a>
				</span>
				{% if user.is_authenticated %}
					<span style="width: 30%">
						<a href="/admin/cv/cv/{{ cv.id }}" class="button{% if not cv.is_recent %} red{% endif %}">Edit<br/>
						<span class="dato"> &nbsp;</span></a>
					</span>
				{% endif %}
			</div>
			{% endif %}
		{% endfor %}
	</article>
{% endblock %}