{% load image_tags %}

<!DOCTYPE html>
<html ng-app="AcsApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- Forces IE out of comp mode -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Altran Competence System{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fontawesome.css"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flick/jquery-ui-1.8.21.custom.css"/>
		<link rel="shortcut icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAP5JREFUeNqkU8ENwyAMhA0YISNkhIySETICIzBCRsgIeeRd5ZV3RmADakeHdJi2nyKdZDhzNrZxpRTHkDULdkEx0LO586eLg+AUZEEUjIIVUDuBU5+hEcBlJTdBIFE9y7QP8MlVpBKqupmnTJT+ZDgVOWE/b84cGUQigWS4gDuzR3FUbXG0vPc3nBzEB8Mn1OaJMJoII84X4JeP7rtWRpADoHb84PdVQIt60/6uRfsowOlRxBXV3mCXpv/0hJ3Tozdn6kK1F9OlvWujGeNI9XjG2baxGSQQNeJkhqpmEZpBMqP8Ehx2qCjqAZ92lEnkAplMYfkzXd1n+uc7vwUYAMsdd68mxHtsAAAAAElFTkSuQmCC"/>
        <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css" rel="stylesheet">
  		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<style>
			body {margin-top: 3em;}
			.block h3, .block h4 {margin:0;}
		</style>
		{% block extrastyles %}{% endblock %}
	</head>

	{% verbatim %}
	<body ng-controller="SearchCtrl" scroller="" on-scroll-bottom="loadMorePeople()" scroller-active="hasMorePersons">
	{% endverbatim %}

		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="{% url 'cv.views.cv_list' %}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaJJREFUeNqkVoGNwjAMbLsAHSEjMEI3eEbgN2AENqiYoCMAE8AG7QZlgzwT9JPqjO5D7RS9JatJ7DjO5eK0KAyZpmkXtAs6Tu8ywrYrPpUwqUmC9kFbjI1o98lizdrgLSb5oMegjmxxzFPfwcdjTpsL3sHxxoFpVyJNYnOYE6XLZd5l7GqmlGBbKNndjN3xmYyG3+1tl5jsU1jIvl1g0VbxdYg1J1GBZjHwqSzLh5KYUHGA8tgfQYxTjDnHJtycsW2h5BE6U9fwd6/zBDxrnCdAxXDlkhorwHM32CtQPML2h6ixbcEEiTFdhc7TcPzC90Jjl8S2JHPMKnPx6vARul3JJO0GPqrIApsMPD8BmrucQWzHsQxMG74DvbKDs7Ah6F5qEdrCvrN1yCZNk2q5VK5nsWhaEZ779C2griz+IAY5xZdjXdVSQTsTiXDV0HNi67RSoRY7qvFRDgswHMjuzWKXlmtacNSKGhVBOYtGLdcLsHhkUq94AWv4evPBWfNkKmwxn8xSe/TDpyOmDKgtT7pE0WdL7PrGBfzo7+Lfvy2/AgwAMspFg0vBldQAAAAASUVORK5CYII=" alt="ACS" style="max-height: 1em; vertical-align:top"> ACS</a>
	            </div>
	            <div class="collapse navbar-collapse">
	                <ul class="nav navbar-nav">
			            <li><a href="{% url 'cv.views.cv_list' %}">Employees</a></li>
			            <li><a href="{% url 'cv.views.reports' %}">Reports</a></li>
			            <li><a href="{% url 'cv.views.matrix_list' %}">Competence Matrices</a></li>
						{% if user.is_superuser %}
			            <li><a href="{% url 'changelog' %}">Changelog</a></li>
			            <li><a href="{% url 'admin:index' %}">Admin</a></li>
						{% endif %}
	                </ul>
				    <ul class="nav navbar-nav navbar-right">
				      <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
							{% if user.first_name %}{{user.first_name}} {{user.last_name}}{% else %}{{user.username}}{% endif %}
							{% if user.person.completeness.percent < 100 %}
								<span class="notification-icon butt-red"><i class="icon-warning-sign"></i></span>
							{% endif %}
							<b class="caret"></b>
						</a>
				        <ul class="dropdown-menu">
							{% if user.person %}
								<li class="text-center">
									<div style="padding:12px 15px" class="{% if user.person.completeness.percent < 100 %}bg-danger{% else %}bg-info{% endif %}">
										{% if user.person.image %}
											<div style="margin: auto; margin-bottom: 12px; border-radius: 50%; width: 5em; height: 5em; background-size: cover; background-position: center; background-image:url({{ user.person.image|scale:'110x110' }})"></div>
										{% endif %}
										Profile {{ user.person.completeness.percent }}% complete.<br>
										Updated: {{ user.person.last_edited }}
										<ul>{{ user.person.completeness.comment|unordered_list }}</ul>
									</div>
								</li>
					            <li><a href="{% url 'admin:cv_person_change' user.person.id %}">Edit Person</a></li>
					            {% for cv in user.person.cv_set.all %}
					            <li><a href="{% url 'admin:cv_cv_change' cv.id %}">Edit CV <em>{{cv.tags}}</em></a></li>
					            {% endfor %}
					            <li><a href="{% url 'cv_add_cv_for_person' user.person.id %}">Add CV</a></li>
					            <li><a href="#" data-toggle="modal" data-target="#experiencemodal">Add Experience</a></li>
							{% endif %}
				            <li><a href="{% url 'cv.views.myRemoteLogout' %}">Log out</a></li>
				        </ul>
				      </li>
				    </ul>
	            </div>
	        </div>
	    </div> <!-- /.navbar -->

	    <div id="actions">
	        {% block actions %}{% endblock %}
	    </div>

		{% block options %}
		{% endblock %}

	    <div id="content" class="">
	        {% block content %}{% endblock %}
	    </div>

	</body>
</html>
