/* #-------------------------------------------------# */
/* #  CUSTOMIZABLE PARTS OF THE CSS - FOR BRANDING?  # */
/* #-------------------------------------------------# */

body {
	background-color: #ddd;
	background-image: url(../../img/shattered.png);
	font-family: segoe ui, arial, sans serif !important;
	color: #555;
}

/* Element styling */
#header,
.body,
.person, 
#menu, 
#topmenu,
.colM h1,
.module,
.inline-group, 
.submit-row,
.cvset {
	background: #fff !important;
	border-radius: 0px;
}

.photo {
	border-radius: 0;
}

input, textarea, select, pre { 
	border-radius: 2px;
	border: 1px solid #bbb;
	font-family: georgia, serif !important;
}

.add-row a,
.button, 
input[name="_save"], 
input[name="_continue"] {
    border-radius: 0px;
}


.completeness {
	position: absolute;
	top:0;
	left:0;
	display: inline-block;
	width: 100%;
	height: 8px;
	background: #ccc;
	margin-bottom: 2px;
	padding: 0px;
/*	box-shadow: 
	inset 0 5px 10px rgba(0,0,0,0.2);*/
	overflow: hidden;
}

.percent {
	height: 100%;
	background-color: #eee;
	/*box-shadow: 
	 This is the top gradient for the color bar
	inset 0 4px 0 rgba(255,255,255,0.2),
	inset 0 1px 2px rgba(0,0,0,0.125); */
}

.redpercent {
	background: #eee;
}

span.completeness {
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	height: 2px;
}

span.percent {
	background: #888;
	display: block;
}

/* CV-preview heading colors */

.h1,
.h2,
.h3,
.h4 {
	color: #999;
}