{% extends "./cvbase.html" %}
{% load image_tags %}

{% block title %}{{ person.name }} CV{% endblock %}
{% block extrastyles %}
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<!--link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom/flat.css"/-->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cvpre.css" media="screen, print"/>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.1.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/cvpre.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/formtojson.js"></script>
{% endblock %}



{% block actions %}

		{% if user.is_authenticated %}
			<h1>{{ p.name }} CV</h1>
			{% if lang != 'eng' %}<a href="{% url 'cv_detail_en' cv.id 'eng' %}" class="butt">Show in English</a>
			{% else %}<a href="{% url 'cv_detail' cv.id %}" class="butt">Show in original language</a>{% endif %}
			<a href="{% url 'admin:cv_cv_change' cv.id %}" class="butt">Edit CV</a>
			<a href="{% url 'admin:cv_person_change' p.id %}" class="butt">Edit Person</a>
		{% endif %}
			<script>
				function dl(format) {
					document.cvjsonform.cvjson.value=FormatJSON($('#cvform').serializeObject());
					document.cvjsonform.action = "{% url 'cv_download' %}" + format + "/";
					document.cvjsonform.submit();
				}
			</script>
			<br/>
			<br/>
			Download for 
			<a class="butt" onClick="dl('doc');">Word (.doc)</a>
			<a class="butt" onClick="dl('pdf');">Adobe Reader (.pdf)</a>
			<a class="butt" onClick="dl('odt');">OpenOffice (.odt)</a>
		{% if user.is_authenticated %}
			<br/>
			<br/>
			<p>On this page you can make changes to the CV before downloading. These changes will not be stored permanently, but are only stored as a part of the downloaded document.</p>
		{% endif %}
{% endblock %}
	

{% block content %}
<div id="cvdetails">
	<!--img src="{{ STATIC_URL }}img/altranlogo.png"-->

		<form action="" method="post" name="cvform" id="cvform" target="_blank">
		<div class="part">
		  <img src="{% if p.image %}{{ p.image|scale:"110x110" }}{% endif %}" class="left" id="photo">
		  <input type="hidden" name="userid" value="{{ p.id }}"/>
		  <input type="hidden" name="photo" value="{% if p.image %}{{ p.image|scale:"110x110" }}{% endif %}"/>
		  <div class="bigbox">
			  <input type="text" name="name" value="{{ p.name }}" class="h1"/><br/>
			  <input type="text" name="title" value="{{ cv.title }}" class="h2"/>
			  <p>
			  <input type="text" name="phone" value="{{ p.phone }}"/>
			  <input type="text" name="mail" value="{{ p.mail }}"/>
			  <input type="text" name="age" value="{{ p.age }}"/>
			  </p>
		  </div>
		</div>

		<div class="part">
		  <h3 class="left">{{ l.profile }}</h3>
		  <div class="bigbox">
			<div class="expandingArea"><pre><span></span><br></pre>
			  <textarea class="profile" name="profile">{{ cv.profile }}</textarea>
			</div>	
		  </div>
		</div>
		
		<div class="part sortwithin">
		{% for te in t %}
			<div class="techset">
				<div class="toggle"></div>
				<div class="expandingArea" style="width:17%; float: left;"><pre><span></span><br></pre>
				  <textarea name="technology[{{ forloop.counter }}][title]" id="technology[{{ forloop.counter }}][title]" class="h5 left">{{ te.title }}</textarea>
				</div>
				<div class="bigbox">
					<div class="expandingArea"><pre><span></span><br></pre>
					  <textarea name="technology[{{ forloop.counter }}][data]" id="technology[{{ forloop.counter }}][data]">{{ te.data }}</textarea>
					</div>	
				</div>
			</div>
		{% endfor %}
		</div>
		

		<div class="part">
			<h3 class="left">{{ l.experience }}</h3>
			<div class="bigbox sortwithin">
				{% for ex in e|dictsortreversed:"from_ym" %}
					<section>
						<div class="toggle"></div>
						<input type="text" name="experience[{{ forloop.counter }}][title]" value="{{ ex.title }}" class="h4"/>
						<input type="text" name="experience[{{ forloop.counter }}][years]" value="{{ ex.from_year }}{% if ex.from_month %} {{ ex.from_monthname }}{% endif %}{% if ex.to_year %} - {{ ex.to_year }}{% endif %}{% if ex.to_month %} {{ ex.to_monthname }}{% endif %}" class="year"/>
						<input type="text" name="experience[{{ forloop.counter }}][company]" value="{{ ex.company }}" class="workplace"/>
						<div class="expandingArea"><pre><span></span><br></pre>
						  <textarea name="experience[{{ forloop.counter }}][description]" id="experience[{{ forloop.counter }}][description]">{{ ex.description }}</textarea>
						</div>	
						<input type="text" name="experience[{{ forloop.counter }}][techs]" value="{{ ex.techs }}" class="techs"/>
					</section>
				{% endfor %}
			</div>
		</div>

		<div class="part">
			<h3 class="left">{{ l.workplace }}</h3>
			<div class="bigbox sortwithin">
				{% for wp in w|dictsortreversed:"from_ym" %}
					<section>
						<div class="toggle"></div>
						<input type="text" name="workplace[{{ forloop.counter }}][company]" value="{{ wp.company }}" class="h4"/>
						<input type="text" name="workplace[{{ forloop.counter }}][years]" value="{{ wp.from_year }}{% if wp.from_month %} {{ wp.from_monthname }}{% endif %}{% if wp.to_year %} - {{ wp.to_year }}{% endif %}{% if wp.to_month %} {{ wp.to_monthname }}{% endif %}" class="year"/>
						<input type="text" name="workplace[{{ forloop.counter }}][title]" value="{{ wp.title }}" class="workplace"/>
						<div class="expandingArea"><pre><span></span><br></pre>
						  <textarea name="workplace[{{ forloop.counter }}][description]" id="workplace[{{ forloop.counter }}][description]">{{ wp.description }}</textarea>
						</div>	
					</section>
				{% endfor %}
			</div>
		</div>
		
		<div class="part job">
		<h3 class="left">{{ l.education }}</h3>
		  <div class="bigbox sortwithin">
			{% for du in d|dictsortreversed:"from_ym" %}
			  <section>
					<div class="toggle"></div>
					<input type="text" name="education[{{ forloop.counter }}][title]" value="{{ du.title }}" class="h4"/>
					<input type="text" name="education[{{ forloop.counter }}][years]" value="{{ du.from_year }}{% if du.from_month %} {{ du.from_monthname }}{% endif %}{% if du.to_year %} - {{ du.to_year }}{% endif %}{% if du.to_month %} {{ du.to_monthname }}{% endif %}" class="year"/>
					<input type="text" name="education[{{ forloop.counter }}][school]" value="{{ du.school }}" class="workplace"/>
					<div class="expandingArea"><pre><span></span><br></pre>
					  <textarea name="education[{{ forloop.counter }}][description]" id="education[{{ forloop.counter }}][description]">{{ du.description }}</textarea>
					</div>	
			  </section>
			{% endfor %}
		  </div>
		</div>
		
		<div class="part sortwithin">
			{% for ot in o %}
			<div class="other">
				<div class="toggle"></div>
				<div class="expandingArea" style="width:17%; float: left;"><pre><span></span><br></pre>
				  <textarea name="other[{{ forloop.counter }}][title]" id="other[{{ forloop.counter }}][title]" class="h5 left">{{ ot.title }}</textarea>
				</div>
				<div class="bigbox">
					<div class="expandingArea"><pre><span></span><br></pre>
					  <textarea name="other[{{ forloop.counter }}][data]" id="other[{{ forloop.counter }}][data]">{{ ot.data }}</textarea>
					</div>	
				</div>
			</div>
			{% endfor %}
		</div>
		</form>
		
		<form action="/cv/{{ cv.id }}/odt/" method="post" name="cvjsonform" id="cvjsonform">
			{% csrf_token %}
			<textarea name="cvjson" id="cvjson" style="display:none;"></textarea>
		</form>
		
{% if user.is_anonymous %}
	<script>
		$(function() {
			$('#cvform textarea, #cvform input[type=text]').prop('disabled', true);
			$('#cvjson').prop('disabled',false);
			$('.toggle').remove();
		});
	</script>
{% endif %}

	</div>

	<script>
		$('textarea,input').each(function(){
			if( this.value.indexOf('X-MISSING-TRANSLATION-X') > -1 ) {
				this.className += ' missingtranslation';
				this.value = this.value.replace(/X-MISSING-TRANSLATION-X/gi,'');
				console.log(this.value);
			}
			if( this.value.indexOf('X-NOT-FILLED-X') > -1) {
				this.className += ' notfilled';
				this.value = this.value.replace(/X-NOT-FILLED-X/gi,'');
				console.log(this.value);
			}
		});
	</script>

{% endblock %}