{% extends "./cvbase.html" %}

{% block title %}CV{% endblock %}

{% block extrastyles %}
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
  <script type="text/javascript">
    var DJANGO_URLS = {
      cv_person_change:       "{% url 'admin:cv_person_change' "XXXpidXXX" %}".replace('XXXpidXXX/',''),
      cv_add_cv_for_person:   "{% url 'cv_add_cv_for_person' "XXXpidXXX" %}".replace('XXXpidXXX/',''),
      cv_person_add:          "{% url 'admin:cv_person_add' %}",
      cv_cv_change:           "{% url 'admin:cv_cv_change' "XXXcvidXXX" %}".replace('XXXcvidXXX/',''),
      cv_download_format_doc: "{% url 'cv_download_format' 'doc' %}",
      cv_download_format_pdf: "{% url 'cv_download_format' 'pdf' %}",
      cv_download_format_odt: "{% url 'cv_download_format' 'odt' %}",
      cv_detail:              "{% url 'cv_detail' "XXXcvidXXX" %}".replace('XXXcvidXXX/',''),
      cv_multi:               "{% url 'cv_multi' %}",
      media: "{{ MEDIA_URL }}",
      static: "{{ STATIC_URL }}",
      solr: "{{solrurl}}"
    };
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.min.js"></script>
  <script src="{{ STATIC_URL }}js/cv_list_slider.js"></script>
  <script src="{{ STATIC_URL }}js/cv_list_ctrl.js"></script>
  <script src="{{ STATIC_URL }}js/url_service.js"></script>
  <script src="{{ STATIC_URL }}js/scroller_directive.js"></script>
{% endblock %}

{% block actions %}
  <h1>ACS Persons</h1>
  <input type="text" size="30" style="margin:0;" placeholder="Search" ng-model="searchQuery" ng-change="updateAndSearchAcs()" autofocus/> <span class="small" ng-bind="numFound"></span>

  {% if not user.person %}
    <br/><p style="padding: 1em; margin: 1em; background: #fff; display: inline-block; border-bottom: 2px solid #bbb;">
      Hi, {% if user.first_name %}{{user.first_name}} {{user.last_name}}{% else %}{{user.username}}{% endif %}! You don't seem to have a CV profile. 
      <a href="{% url 'cv_add_person_for_user' %}" class="butt butt-action">Create a profile now!</a>
    </p>
  {% elif not user.person.cv_set.all %}
    <br/><p style="padding: 1em; margin: 1em; background: #fff; display: inline-block; border-bottom: 2px solid #bbb;">
      Hi, {% if user.first_name %}{{user.first_name}} {{user.last_name}}{% else %}{{user.username}}{% endif %}! You have registered a profile, but you don't seem to have any CVs.
      <a href="{% url 'cv_add_cv_for_person' user.person.id %}" class="butt butt-action">Create a CV now!</a>
    </p>
  {% endif %}
{% endblock %}

{% block options %}
{% verbatim %}
<div id="optionsbox" ng-class="{hiddenopts: hideFilter}">
    
    <div class="option">
    <h3>View</h3>
    <label><input type="checkbox" id="multicvcheck" ng-model="showListView"><i class="icon-th"></i><i class="icon-list"></i></label><br/><br/>
  
    <a class="butt" href="{{urls.cv_person_add}}" style="margin-bottom:.5em;"><i class="icon-plus-sign"></i> Person</a>
    <a class="butt" style="margin-bottom:.5em;" ng-click="getJson()"><i class="icon-download"></i> Json</a>
  
    </div>
    
    <div class="option animateheight">
      <span class="butt" ng-click="hideFilter=!hideFilter">
        <i id="togglefiltericon" ng-class="{'icon-double-angle-right': hideFilter, 'icon-double-angle-left': !hideFilter}"></i> Filters
      </span>
      <div id="optionsinside">
      <div id="facets">

        <div class="filter">
          <h3>Years of experience</h3>
          <div style="text-align: center;">
            <div ui-slider="yearsOfExperience" ng-model="yearsOfExperienceValue" style="margin:1em 2em"></div>
            <input type="number" ng-model="yearsOfExperienceValue[0]" size="3" min="0" max="{{yearsOfExperienceValue[1]}}" style="width:3em;" ng-change="updateAndSearchAcs()"/>
            <input type="number" ng-model="yearsOfExperienceValue[1]" size="3" min="{{yearsOfExperienceValue[0]}}" max="{{yearsOfExperience.max}}"style="width:3em;" ng-change="updateAndSearchAcs()"/>
          </div>
        </div>

        <div ng-repeat="facetField in facetFields" class="filter">
          <h3>{{facetField.name}}</h3>
          <ul>
            <li ng-repeat="(facetname, facet) in facetField.facets">
              <label>
                <input type="checkbox" ng-model="facet.checked" ng-change="updateAndSearchAcs(facetField, facetname)">
                <span ng-if="facetname!='null'">{{facetname}}</span><span ng-if="facetname=='null'" style="font-style: italic;">No {{facetField.name}}</span> <span ng-if="facet.count>0">({{facet.count}})</span>
              </label>
            </li>
          </ul>
        </div>

        <div class="filter" ng-repeat="cf in customFilter.list">
          <h3>{{cf.title}}</h3>
            <label><input type="radio" name="{{cf.title}}" ng-change="updateAndSearchAcs()" value="all" ng-model="cf.status"/>Show all</label><br/>
            <label><input type="radio" name="{{cf.title}}" ng-change="updateAndSearchAcs()" value="+" ng-model="cf.status"/>Show {{cf.title}}</label><br/>
            <label><input type="radio" name="{{cf.title}}" ng-change="updateAndSearchAcs()" value="-" ng-model="cf.status"/>Show not {{cf.title}}</label><br/>
        </div>
                
        <div class="filter">                
          <h3>Sorting</h3>
          <select name="sorting" ng-model="sortSetting" ng-change="updateAndSearchAcs()">
            <option value="name_exact asc">Name a-z</option>
            <option value="name_exact desc">Name z-a</option>
            <option value="years_of_experience asc">Years of experience 0-9</option>
            <option value="years_of_experience desc">Years of experience 9-0</option>
            <option value="last_edited desc">Recently edited</option>
            <option value="last_edited asc">Least recently edited</option>
          <select>
        </div>

      </div>
      </div>
  </div>

    <div class="option">
      <a class="butt" href="https://wiki.cantara.no/display/ACS/User+Manual" target="_blank">
        <i class="icon-question-sign"></i> Help
      </a>
    </div>

</div>
{% endverbatim %}
{% endblock %}


{% block content %}
  {% verbatim %}
    <div ng-if="!showListView">

      <div class="block tiled" ng-repeat="p in persons" id="p{{p.id}}">
        <header>
          <h3>{{p.name}}</h3>
          <h4>{{p.title}}</h4>
        </header>
        <img src="{{urls.media}}{{p.image}}" class="photo" style="float: left;" ng-if="p.image">

        <div class="completeness">
          <div class="percent" ng-class="{redpercent: p.completeness.percent < 100}" ng-style="{width: {{p.completeness.percent}}+'%'}"></div>
        </div>

        <section>
          <span style="float: right;">
            <span ng-if="isRecent(p.last_edited)"><i class="icon-time"></i></span>
            <a class="butt" ng-class="{ 'butt-red': p.completeness.percent<100 }"><i class="icon-envelope"></i></a>
          </span>
                  
          <p class="ldetail">{{p.phone}} <img src="{{urls.static}}/img/flags/{{p.country}}.gif" width="16" height="11" alt="p.country" ng-if="p.country"/><br/>
          <a href="mailto:{{p.mail}}">{{p.mail}}</a></p>
        </section>
        <div class="cvset">
          <div class="ldetail" ng-class="{alertbox: p.completeness.percent < 100}">
            <p>Profile {{p.completeness.percent}}% complete. Updated: {{p.last_edited}}</p>
            <p><span ng-if="isRecent(p.last_edited)"><i class="icon-time"></i> More than 4 months since last update.</span></p>
            <ul ng-if="p.completeness.comment">
              <li ng-repeat="c in p.completeness.comment">{{c}}</li>
            </ul>
          </div>
            <a href="{{urls.cv_person_change}}{{p.id}}/" class="butt">Edit person</a>
          <table>
            <tr ng-repeat="cv in p.cv">
              <td>
                <a href="{{urls.cv_detail}}{{cv.id}}/" class="butt bigbutt>">
                  {{cv.tags}}<br/>
                  <span class="dato">{{cv.last_edited}} {{cv.status.percent}}% <span class="completeness"><span class="percent"></span></span></span>
                </a>
              </td>
              <td>
                <a href="{{urls.cv_cv_change}}{{cv.id}}/" class="butt">Edit<br/>
                <span class="dato">CV</span></a>
              </td>
            </tr>
        
            <tr>
              <td><a href="{{urls.cv_add_cv_for_person}}{{p.id}}/" class="butt">Add CV</a></td>
            </tr>
          
          </table>
        </div>
      </div>

      <div class="block tiled" ng-if="isLoading">
        <header>
          <h3>Loading...</h3>
        </header>
        <img src="{{urls.static}}/img/loading.gif" class="photo" style="float: left;">
      </div>

    </div>
  {% endverbatim %}

    <div class="col-md-9" ng-if="showListView">

      <table id="multiresults" class="responsivetable">
        <thead>
          <tr>
            <th colspan="3" class="lineright">Persons</th>
            <th colspan="2">CVs</th>
          </tr>
          <tr>
            <td colspan="3" class="lineright">
              {% if user.is_authenticated %}
                  <label id="labelSelectAll" ><input id="selectAllCheckbox"  type="checkbox" onChange="toggle(this)"/>Select all</label>
                <a id="createMail" style="" onClick="multinagmail.show(); return false;" class="butt"><i class="icon-envelope"></i> Message selected</a>
                  <button class="butt" id="showemaillistbtn"><i class="icon-copy"></i> <span>Show</span> selected e-mails</button>
                  <div id="emaillistcontainer" style="display:none;">
                    Press CTRL+C to copy.<br>
                    <textarea name="emaillist" id="emaillist" cols="30" rows="10" disabled></textarea>
                  </div>
                    <!--<a id="emails" href="mailto:" class="butt" style=""><i class="icon-download"></i> <span id="emailsText"> Get selected e-mails</span></a>-->
                {%endif%}
              </td>
            <td>
              Format:&nbsp;<select name="format" id="format">
                <option value="doc">DOC</option>
                <option value="pdf">PDF</option>
                <option value="odt">ODT</option>
              </select>
              Language:&nbsp;<select name="language" id="language">
                <option value="native">Native</option>
                <option value="en">English</option>
              </select>
              Language:&nbsp;<select name="template">
                <option value="default">Default Template</option>
                {% for t in templates %}
                  <option value="{{t.id}}">{{t.title}}</option>
                {% endfor %}
              </select>
              <a href="" onClick="cvlist.downloadMulti(); return false;" class="butt"><i class="icon-copy"></i> Download selected CVs</a>
            </td>
            <td>Download</td>
          </tr>
        </thead>
      {% verbatim %}
        <tbody ng-repeat="p in persons">
          <tr ng-repeat="cv in p.cv">
            <td rowspan="p.cv.length">
              <label class="imgcheckbox" id="" style="">
                <input type="checkbox" name="rowMailCheckbox" class="personcheckbox" value="p.mail" style="display:none"/>
              </label>
              </td>
            <td rowspan="p.cv.length">
              <img src="{{urls.static}}/img/flags/{{p.country}}.gif" width="16" height="11" alt="p.country" ng-if="p.country"/>
              </td>
            <td rowspan="p.cv.length" class="lineright">
              <label for="" class="textcheckbox">
              <h3>{{p.name}} ‒ {{p.title}}</h3>
              <p><small>Profile {{p.completeness.percent}}% complete. Updated: {{p.last_edited}}</small></p>
              </label>
              </td>
            <td data-title="Select CV">
              <label for="cv.id"><input type="checkbox" name="cvid" value="cv.id" id="cv.id" >{{cv.tags}} ({{cv.status.percent}}%)</label>
              </td>
            <td data-title="Download">
              <a href="{{urls.cv_detail}}{{cv.id}}/" title="{{cv.status.comment}}" target="_blank" class="butt">View</a>&nbsp;
              <a href="{{urls.cv_download_doc}}?cvid={{cv.id}}" target="_blank" class="butt">DOC</a>&nbsp;
              <a href="{{urls.cv_download_pdf}}?cvid={{cv.id}}" target="_blank" class="butt">PDF</a>
              </td>
          </tr>
        </tbody>

        </tr>
        <tr>
          <td colspan="4" ng-if="!persons.length && searchQuery">No results for search "{{searchQuery}}".</td>
          <td colspan="4" ng-if="!persons.length && !searchQuery">Type above to start searching!</td>
        </tr>
      {% endverbatim %}
      </table>
    </div>

{% endblock %}