{% extends "./cvbase.html" %}

{% block title %}CV{% endblock %}

{% block extrastyles %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cv-list.css"/>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
  <script type="text/javascript">
    var DJANGO_URLS = {
      cv_person_change:       "{% url 'admin:cv_person_change' "999999" %}".replace('999999/',''),
      cv_add_cv_for_person:   "{% url 'cv_add_cv_for_person' "999999" %}".replace('999999/',''),
      cv_person_add:          "{% url 'admin:cv_person_add' %}",
      cv_cv_change:           "{% url 'admin:cv_cv_change' "888888" %}".replace('888888/',''),
      cv_download_format_doc: "{% url 'cv_download_format' 'doc' %}",
      cv_download_format_pdf: "{% url 'cv_download_format' 'pdf' %}",
      cv_download_format_odt: "{% url 'cv_download_format' 'odt' %}",
      cv_detail:              "{% url 'cv_detail' "888888" %}".replace('888888/',''),
      cv_multi:               "{% url 'cv_multi' %}",
      cv_nagmail:             "{% url 'cv_nagmail' %}",
      cv_multinagmail:        "{% url 'cv_multinagmail' %}",
      media: "{{ MEDIA_URL }}",
      static: "{{ STATIC_URL }}",
      solr: "{{solrurl}}"
    };

    var CV_TEMPLATES = [
      {value: 'default', label: 'Default', checked: true},
      {% for t in templates %}
      {value: '{{t.id}}', label: '{{t.title}}'}{% if not forloop.last %},{% endif %}
      {% endfor %}
    ];
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-sanitize.min.js"></script>
  <script src="{{ STATIC_URL }}js/doT.min.js"></script>
  <script src="{{ STATIC_URL }}js/ZeroClipboard.min.js"></script>
  <script src="{{ STATIC_URL }}js/flash_detect_min.js"></script>
  <script src="{{ STATIC_URL }}js/cv_list_slider.js?20140814"></script>
  <script src="{{ STATIC_URL }}js/cv_list_ctrl.js?20141002"></script>
  <script src="{{ STATIC_URL }}js/url_service.js?20140814"></script>
  <script src="{{ STATIC_URL }}js/scroller_directive.js?20140814"></script>
  <script src="{{ STATIC_URL }}js/tristatecheckbox_directive.js"></script>
{% endblock %}

{% block actions %}
  
  {% if not user.person %}
    <p style="padding: 1em; margin: 1em; background: #fff; display: inline-block; border-bottom: 2px solid #bbb;">
      Hi, {% if user.first_name %}{{user.first_name}} {{user.last_name}}{% else %}{{user.username}}{% endif %}! You don't seem to have a CV profile. 
      <a href="{% url 'cv_add_person_for_user' %}" class="btn btn-primary btn-sm">Create a profile now!</a>
    </p>
  {% elif not user.person.cv_set.all %}
    <p style="padding: 1em; margin: 1em; background: #fff; display: inline-block; border-bottom: 2px solid #bbb;">
      Hi, {% if user.first_name %}{{user.first_name}} {{user.last_name}}{% else %}{{user.username}}{% endif %}! You have registered a profile, but you don't seem to have any CVs.
      <a href="{% url 'cv_add_cv_for_person' user.person.id %}" class="btn btn-primary btn-sm">Create a CV now!</a>
    </p><br/>
  {% endif %}

  <div class="form-inline text-left">
    <div class="form-group has-feedback">
      <label class="sr-only">Search</label>
      <input type="text" size="30" class="form-control" name="searchQuery" id="searchQuery" placeholder="Search" ng-model="searchQuery" ng-change="updateAndSearchAcs()" autofocus/>
      <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
    </div>
    <span style="text-transform: uppercase; font-size: 80%; margin-left: .8em">
      Showing <span id="numFound" ng-bind="numFound"></span> of <span ng-bind="totalFound"></span>.
      Sort by
      <select name="sorting" ng-model="sortSetting" ng-change="updateAndSearchAcs()" style="font: inherit; color: inherit; text-transform: inherit; background: transparent;">
        <option value="name_exact asc">Name a-z</option>
        <option value="name_exact desc">Name z-a</option>
        <option value="years_of_experience asc">Years of experience 0-9</option>
        <option value="years_of_experience desc">Years of experience 9-0</option>
        <option value="last_edited desc">Recently edited</option>
        <option value="last_edited asc">Least recently edited</option>
      <select>
    </span>
  </div>

{% endblock %}

{% block options %}
{% verbatim %}
<div id="optionsbox" ng-class="{hiddenopts: hideFilter}">
    
    <div class="option">
      <h3>View</h3>
      <div class="btn-group" style="margin-bottom:12px;">
        <button type="button" class="btn btn-xs btn-default" ng-click="showListView=false;updateAndSearchAcs();" ng-class="{'btn-primary': !showListView}" style="width:auto"><i class="icon-th"></i></button>
        <button type="button" class="btn btn-xs btn-default" ng-click="showListView=true;updateAndSearchAcs();" ng-class="{'btn-primary': showListView}" style="width:auto"><i class="icon-list"></i></button>
      </div>
      <a class="btn btn-default btn-xs" href="{{urls.cv_person_add}}" style="margin-bottom:12px;"><i class="icon-plus-sign"></i> Person</a>
      <a class="btn btn-default btn-xs" style="margin-bottom:12px;" ng-click="getJson()"><i class="icon-download"></i> Json</a>
    </div>
    
    <div class="option animateheight">
      <button class="btn btn-default btn-xs" ng-click="hideFilter=!hideFilter">
        <i id="togglefiltericon" ng-class="{'icon-double-angle-right': hideFilter, 'icon-double-angle-left': !hideFilter}"></i> Filters
      </button>
      <div id="optionsinside">
      <div id="facets">

        <div class="filter">
          <h3>Years of experience</h3>
          <div style="text-align: center;">
            <div ui-slider="yearsOfExperience" ng-model="yearsOfExperienceValue" style="margin:1em 2em"></div>
            <input type="number" ng-model="yearsOfExperienceValue[0]" size="3" min="0" max="{{yearsOfExperienceValue[1]}}" style="width:5em;" ng-change="updateAndSearchAcs()"/>
            <input type="number" ng-model="yearsOfExperienceValue[1]" size="3" min="{{yearsOfExperienceValue[0]}}" max="{{yearsOfExperience.max}}"style="width:5em;" ng-change="updateAndSearchAcs()"/>
          </div>
        </div>

        <div class="filter">
          <h3 ng-repeat-start="cf in customFilter.list">{{cf.title}}</h3>
          <div class="btn-group btn-group-justified" ng-repeat-end>
            <label class="btn btn-xs btn-default" ng-class="{'btn-primary':cf.status=='all'}" ng-click="updateAndSearchAcs()">
              <input type="radio" class="hidden" name="{{cf.title}}" ng-change="updateAndSearchAcs()" value="all" ng-model="cf.status"> All
            </label>
            <label class="btn btn-xs btn-default" ng-class="{'btn-primary':cf.status=='+'}" ng-click="updateAndSearchAcs()" style="text-transform: capitalize;">
              <input type="radio" class="hidden" name="{{cf.title}}" ng-change="updateAndSearchAcs()" value="+" ng-model="cf.status"> {{cf.title}}
            </label>
            <label class="btn btn-xs btn-default" ng-class="{'btn-primary':cf.status=='-'}" ng-click="updateAndSearchAcs()" >
              <input type="radio" class="hidden" name="{{cf.title}}" ng-change="updateAndSearchAcs()" value="-" ng-model="cf.status"> Not {{cf.title}}
            </label>
          </div>
        </div>

        <div ng-repeat="facetField in facetFields" class="filter">
          <h3>{{facetField.name}}</h3>
          <ul class="list-unstyled">
            <li ng-repeat="(facetname, facet) in facetField.facets">
              <label>
                <input type="checkbox" ng-model="facet.checked" ng-change="updateAndSearchAcs(facetField, facetname)">
                <span ng-if="facetname!='null'">{{facetname}}</span><span ng-if="facetname=='null'" style="font-style: italic;">No {{facetField.name}}</span> <span ng-if="facet.count>0">({{facet.count}})</span>
              </label>
            </li>
          </ul>
        </div>

      </div>
      </div>
  </div>

    <div class="option">
      <a class="btn btn-default btn-xs" href="https://wiki.cantara.no/display/ACS/User+Manual" target="_blank">
        <i class="icon-question-sign"></i> Help
      </a>
    </div>

</div>
{% endverbatim %}
{% endblock %}


{% block content %}
    <div ng-show="!showListView">

    <script id="persontemplate" type="text/x-dot-template">
      <div class="block tiled" id="p<%=p.id%>">
        <header>
          <h3><%=p.name%></h3>
          <h4><%=p.title%></h4>
        </header>
        <%?p.image%><img src="/media/<%=p.image%>?<%=p.last_edited%>" class="photo" style="float: left;"><%?%>

        <div class="completeness">
          <div class="percent<%? p.completeness.percent < 100 %> redpercent<%?%>" style="width: <%=p.completeness.percent%>%;"></div>
        </div>
        <section>
          <span>                    
             <button ng-click="nag={recipientName:'<%=p.name%>', recipientId:'<%=p.id%>'}" data-toggle="modal" data-target="#nagmodal" type="button" class="btn btn-xs <%? p.completeness.percent<100 %>btn-danger<%??%>btn-default<%?%>" style="float: right;"><i class="icon-envelope"></i></button>
                    <%? ( new Date().getTime() - new Date(p.last_edited).getTime() ) / (1000*60*60*24) > 120 %><i class="icon-time" style="float: right; margin: .3em"></i><%?%>
                  </span>
                  
          <p class="ldetail"><a href="tel:<%=p.phone%>"><%=p.phone%></a> <%? p.country %> <img src="{{ STATIC_URL }}img/flags/<%=p.country%>.gif" width="16" height="11" alt="<%=p.country%>"/><%?%><br/>
          <a href="mailto:<%=p.mail%>"><%=p.mail%></a></p>
        </section>
        <div class="cvset">
          <div class="ldetail<%? p.completeness.percent < 100 %> alertbox<%?%>">
            <p>Profile <%=p.completeness.percent%>% complete. Updated: <%=p.last_edited%></p>
                    <%? ( new Date().getTime() - new Date(p.last_edited).getTime() ) / (1000*60*60*24) > 120 %><i class="icon-time"></i> More than 4 months since last update.<%?%>
            <%? p.completeness.comment %><ul><%~p.completeness.comment :value:index%><li><%=value%></li><%~%></ul><%?%>
          </div>
          <%? p.username == "{{ user.username }}" {% if user.is_superuser %}|| true{% endif %} %>
            <a href="{% url 'admin:cv_person_change' "111000111" %}" class="btn btn-xs btn-default">Edit person</a>
            <a href="{% url 'cv_add_cv_for_person' "111000111" %}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plug"></span> Add CV</a>
          <%?%>
          <table class="table-fixed">
          <%~p.cv :cv:index%>
            <tr>
              <td class="table-fixed-main-td">
                <a href="{% url 'cv_detail' "888888888" %}" class="btn btn-xs btn-block <%? cv.status.percent == 0 %> btn-warning <%?? !cv.is_recent || !cv.status.complete %> btn-danger <%??%> btn-default<%?%>" title="<%=cv.status.comment%>">
                  <%=cv.tags%><br/>
                  <small><%=cv.last_edited%> <%=cv.status.percent%>%</small>
                  <span class="completeness">
                    <span class="percent<%? cv.status.percent < 100 %> redpercent<%?%>" style="width: <%=cv.status.percent%>%;"></span>
                  </span>
                </a>
              </td>
              <%? p.username == "{{ user.username }}" {% if user.is_superuser %}|| true{% endif %} %>
                <td><a href="{% url 'admin:cv_cv_change' "888888888" %}" class="btn btn-block btn-xs btn-default">Edit<br/>
                <span class="dato">CV</span></a></td>
              <%?%>
            </tr>
          <%~%>
          </table>
        </div>
      </div>
    </script> 

      <div id="cardresults"></div>

      {% verbatim %}
      <div class="block tiled" ng-if="isLoading">
        <header>
          <h3>Loading...</h3>
        </header>
        <img ng-src="{{urls.static}}/img/loading.gif" class="photo" style="float: left;">
      </div>
      {% endverbatim %}

    </div>

    <div ng-show="showListView">

    <form name="multicv" action="{% url 'cv_multi' %}" method="get">
      <table id="multiresults" class="responsivetable">
        <thead>
          <tr>
            <th colspan="3" class="lineright">Persons</th>
            <th colspan="2">CVs</th>
          </tr>
          <tr>
            <td>
              <input tri-state-checkbox elements="persons" elements-selected="personsSelected" change-action="updateSelectedEmails()">
              </td>
            <td colspan="2" class="lineright">
              <button class="btn btn-default btn-xs" data-clipboard-target="selectedemails" id="emailCopyButton" ng-if="hasFlash" type="button">
                <i class="icon-copy"></i> Copy e-mails
              </button>
              <button class="btn btn-default btn-xs" ng-click="showSelectedEmails()" ng-if="!hasFlash" type="button">
                <i class="icon-copy"></i> <span ng-hide="selectedEmailsVisible">Show</span><span ng-show="selectedEmailsVisible">Hide</span> e-mails
              </button>
              <div ng-show="selectedEmailsVisible">
                Press CTRL+C to copy.<br>
                <textarea cols="30" rows="10" disabled="disabled" ng-model="selectedEmails" id="selectedemails"></textarea>
              </div>
              <button class="btn btn-default btn-xs" type="button" ng-click="composeMultiNag()" data-toggle="modal" data-target="#nagmodal">Compose message</button>
              </td>
            <td>

              <button class="btn btn-default btn-xs" ng-click="downloadMulti()" type="button"><i class="icon-copy"></i> Download CVs</button>
              <button type="button" class="menutoggle" style="background: none; cursor: pointer; border-bottom: 1px dotted #aaa; text-align: left">
                {% verbatim %} {{multi.format}}, {{multi.language}}, {{multi.template}} {% endverbatim %}
                <i class="icon-caret-down"></i>
              </button>
              {% verbatim %}
              <div class="menulist menulisthidden">
                <div ng-repeat="(pName, param) in multi.params">
                  <h3 style="text-transform: capitalize">{{pName}}</h3>
                  <label ng-repeat="p in param" ng-click="multi.update(pName, p.label)"><input type="radio" name="{{pName}}" value="{{p.value}}" ng-checked="{{p.checked}}"> {{p.label}}<br></label>
                </div>
              </div>
              {% endverbatim %}

            </td>
            <td>Download</td>
          </tr>
        </thead>
        {% verbatim %}
          <tbody><tr><td colspan="9"><img ng-src="{{urls.static}}/img/loading.gif"> Loading</td></tr></tbody>
        {% endverbatim %}
      </table>
    </form>

    <script id="tabletemplate" type="text/x-dot-template">
      <% if (p.cv.length < 1) { p.cv.push({}); var nocvs = true; } %>
      <tbody>
      <%~p.cv :cv:index%>
        <tr id="p<%=p.id%>">
          <%? !personwritten %>
            <td rowspan="<%=p.cv.length%>">
              <input type="checkbox" ng-model="persons[<%=p.index%>].isSelected" value="<%=p.mail%>" id="p<%=p.index%>checkbox" ng-change="updateSelectedEmails()"/>
              </td>
            <td rowspan="<%=p.cv.length%>">
              <%? p.country %><img src="{{ STATIC_URL }}/img/flags/<%=p.country%>.gif" width="16" height="11" alt="<%=p.country%>"/><%?%>
              <span style="display: inline-block; width:24px; height: 24px; background-size: cover; <%?p.image%>background-image: url({{ MEDIA_URL }}/<%=p.image%>?<%=p.last_edited%>); <%?%>"></span>
              </td>
            <td rowspan="<%=p.cv.length%>" class="lineright">
              <label for="p<%=p.index%>checkbox" class="textcheckbox">
              <h5><%=p.name%><br><%=p.title%></h5>
              <p class="small">Profile <%=p.completeness.percent%>% complete. Updated: <%=p.last_edited%></p>
              </label>
              </td>
            <% var personwritten = true; %>
          <%?%>
          <%? !nocvs %>
          <td data-title="Select CV">
            <label for="<%=cv.id%>"><input type="checkbox" name="cvid" value="<%=cv.id%>" id="<%=cv.id%>" ><%=cv.tags%> (<%=cv.status.percent%>%)</label>
            </td>
          <td data-title="Download">

            <div class="btn-group">
              <a class="btn btn-default btn-xs" href="{% url 'cv_download_format' 'doc' %}?cvid=<%=cv.id%>" target="_blank"><span class="glyphicon glyphicon-download"></span> Word</a>
              <a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'cv_detail' "999888999" %}" title="<%=cv.status.comment%>" target="_blank">View</a></li>
                <li><a href="{% url 'cv_download_format' 'pdf' %}?cvid=<%=cv.id%>" target="_blank">Download PDF</a></li>
                <li><a href="{% url 'cv_download_format' 'odt' %}?cvid=<%=cv.id%>" target="_blank">Download ODT</a></li>
              </ul>
            </div>
            </td>
          <%??%>
            <td></td>
            <td></td>
          <%?%>
        </tr>
      <%~%>
      </tbody>
    </script> 

    </div>


<!-- Nag Message Modal -->
<div class="modal fade" id="nagmodal" tabindex="-1" role="dialog" aria-labelledby="naglabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="naglabel">Compose Message</h4>
      </div>
      <div class="modal-body">
        {% verbatim %}
        <h5>To <strong>{{nag.recipientName||nag.recipientEmails}}</strong></h5>
        {% endverbatim %}
        <form name="nagForm" id="nagForm">
          {% csrf_token %}
          <input type="hidden" name="receiver_id" ng-value="nag.recipientId">
          <input type="hidden" name="receiver_email" ng-value="nag.recipientEmails">
          <input type="hidden" name="sendermail" value="{{ user.email }}">
          <input type="hidden" name="sendername" value="{% if user.person %}{{ user.person.name }}{% else %}{{ user.username }}{% endif %}">
          <h4>From: <strong>{% if user.first_name %}{{user.first_name}} {{user.last_name}}{% else %}{{user.username}}{% endif %}</strong></h4>
          <textarea name="message" class="form-control" cols="30" rows="10" placeholder="Message" ng-hide="nag.success"></textarea>
          <p class="bg-info" style="padding:10px; margin-top:10px" ng-show="nag.success" ng-bind-html="nag.feedback"></p>
          <p class="bg-danger" style="padding:10px; margin-top:10px" ng-show="nag.failure" ng-bind-html="nag.feedback"></p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="sendNag()" ng-hide="nag.success" ng-if="nag.recipientId">Send</button>
        <button type="button" class="btn btn-primary" ng-click="sendNag(true)" ng-hide="nag.success" ng-if="nag.recipientEmails">Send</button>
      </div>
    </div>
  </div>
</div>

  <script>

    $('.menutoggle').click(function(e){
      $(this).next('.menulist').toggleClass('menulistactive');
      e.preventDefault();
    });
  
    /* Anything that gets to the document will hide the dropdown */
    $(document).on('click', function (event) {
        if ($(event.target).closest('.menulist,.menutoggle').length == false) {
            $(".menulist").removeClass('menulistactive');
        }
    });

    /* Clicks within the dropdown won't make it past the dropdown itself */
    $(".menulist").click(function (e) {
        e.stopPropagation();
    });

  </script>

{% endblock %}