{% extends "./cvbase.html" %}

{% block content %}
<style>
	th,td {padding:.3em;}
</style>
<div class="block">
	<table id="querytable">
		<tr><th>Query</th><th>Result</th></tr>
		<tr><td><input type="text" placeholder="Search Query" autofocus class="query" name="1" size="30"></td><td class="foundCount1"></td></tr>
		<tr><td><input type="text" placeholder="Search Query" autofocus class="query" name="2" size="30"></td><td class="foundCount2"></td></tr>
	</table>
	<button onClick="addRow()" class="butt">Add row</button>
</div>
<script>
	var solr = {
		additionalParams: '',
		prepSearch: function(t){
			var self = this;
		    if(typeof self.searchrequest !== 'undefined'){
		        self.searchrequest.abort();
		    }
		    if(t){
				self.filterTxt = $(t).val();
		    }
			if(self.filterTxt != '') {
				var asterisk = "";
				if(self.filterTxt[self.filterTxt.length-1]!=' '){
					asterisk = " *";
				}
				self.data.q = self.filterTxt+asterisk+" "+self.additionalParams;
				self.data.hl = 'true';
			} else {
				self.data.q = self.additionalParams + ' *';
				self.data.hl = 'false';
			}
			self.doSearch(t.name);
		},
		doSearch: function(id){
			var self = this;
			self.searchrequest = $.ajax({
				type:"get",
				url: self.url,
				data: self.data,
				traditional: true,
				cache: false
			}).done(function( data ) {
				data = jQuery.parseJSON( data );
				self.bufferedData = data;
				console.log(data.response.numFound);
				$('.foundCount'+id).html(data.response.numFound);
			});
		},
		url: "/solr/collection1/select",
	 	data: {
	 		'q':'*',
	 		'wt':'json',
	 		'indent':'true',
	 		'sort':'name_exact asc',
	 		'rows':50,
	 		'hl': 'false',
	 		'fl': 'rendered',
	 		'facet': 'true',
	 		'facet.field': [
	 			'location_exact', 
	 			'department_exact',
	 			'years_of_experience_exact'
	 			], 
	 		'fq':[]
	 	},

	}

	$('.query').keyup( function(event) {
		solr.prepSearch(this);
	});

	function addRow() {
		var number=$('.query:last').attr('name')*1+1;
		console.log(number);
		var newline='<tr><td><input type="text" placeholder="Search Query" autofocus class="query" name="'+number+'" size="30"></td><td class="foundCount'+number+'"></td></tr>';
		$('#querytable').append(newline);
		$('.query').keyup( function(event) {
			solr.prepSearch(this);
		});
	}
</script>

{% endblock %}