{% extends "polls/base.html" %}

{% block content %}
	<h2>{{ poll.question }}</h2>
	<p>{{ poll.pub_date }}</p>
	
	{% if error_message %}<p>{{ error_message }}</p>{% endif %}
	
	<form action="/polls/{{ poll.id }}/vote/" method="post">
	{% csrf_token %}
	{% for choice in poll.choice_set.all %}
		<input type="radio" name="choice" id="choice{{forloop.counter }}" value="{{ choice.id }}" />
		<label for="choice{{ forloop.counter }}">{{ choice.choice }}</label>
	{% endfor %}
	<input type="submit" value="VOTE NOW, OR FOREVER HOLD YOUR PEACE!"/>
	</form>
{% endblock %}