#searchQuery {
    width: 21em;
}
#optionsbox {
    position: absolute;
    left: 1em;
    width: 21em;
    text-align: left;
    transition: all .2s;
    -o-transition: all .2s;
 /* Opera */
    -moz-transition: all .2s;
 /* Firefox 4 */
    -webkit-transition: all .2s;
 /* Safari and Chrome */;
}

#optionsbox ~ #content {
    position: absolute;
    left: 22.5em;
    right: 1em;
    text-align: left;
    transition: left .2s;
    -o-transition: left .2s;
 /* Opera */
    -moz-transition: left .2s;
 /* Firefox 4 */
    -webkit-transition: left .2s;
 /* Safari and Chrome */;
}

.hiddenopts {
    width: 6em !important;
}

.hiddenopts ~ #content {
    left: 7.5em !important;
}

.hiddenopts .animateheight {
    max-height: 4em !important;
}

.animateheight {
    max-height: 130em;
}

#optionsinside {
    width: 20em;
}

.hiddenopts #optionsinside {
    display: none;
}

.hiddenopts .btn {
    width: 100%;
}

.option h3 {
    text-transform: uppercase;
    font-size: 0.7em;
    margin: .5em 0 .5em 0;
}

.option {
    background: #fff;
    padding: .5em;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1em;
    transition: max-width .2s, max-height .2s .1s;
    -o-transition: max-width .2s, max-height .2s .1s;
 /* Opera */
    -moz-transition: max-width .2s, max-height .2s .1s;
 /* Firefox 4 */
    -webkit-transition: max-width .2s, max-height .2s .1s;
 /* Safari and Chrome */;
}

.filter {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
}

.clickable {
    cursor: pointer;
    overflow: visible;
    width: 2em;
    height: 2em;
    margin-bottom: 1em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
}

.clickable:hover {
    opacity: 0.8;
}

.option + label {
    position: relative;
    display: block;
    z-index: 300;
    top: -4em;
    left: 6em;
    font-size: 0.8em;
    padding: 1em 0;
    white-space: nowrap;
    width: 1px;
    height: 2em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.1s;
    -o-transition: all 0.1s;
 /* Opera */
    -moz-transition: all 0.1s;
 /* Firefox 4 */
    -webkit-transition: all 0.1s;
 /* Safari and Chrome */;
}

.option:hover + label {
    width: 100px;
    padding: 1em;
}

label {
    cursor: pointer;
}

#numfound {
    font-size: .8em;
    margin: .5em;
    display: inline-block;
}

.showonsmall, .menulisthidden {
    display: none;
}

.hideonsmall {
    display: inline-block;
}

.menulistactive {
    background: #fff;
    color: #333;
    padding: .5em;
    box-shadow: 0 5px 6px 1px rgba(0,0,0,0.3);
    border-bottom: 2px solid #ccc;
    display: block !important;
}

.menulistactive {
    position: absolute;
    display: none;
    z-index: 999;
    text-align: left;
}

.menulistactive li {
    display: block;
}

.menulistactive a {
    padding: .5em !important;
    display: block !important;
}

.menulistactive a:hover {
    color: #333 !important;
}

.notification-icon {
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    line-height: 1em;
    width: 1em;
    height: 1em;
    padding: .4em;
}

@media (max-width: 600px) {

    .showonsmall {
        display: block;
    }

    .hideonsmall {
        display: none;
    }

    #content {
        position: static !important;
        width: 100%;
        text-align: center !important;
    }

    .hiddenopts {
        width: 100% !important;
    }

    .hiddenopts:hover {
        width: 100% !important;
    }

    .clickable {
        width: 100%;
    }

    #optionsbox {
        position: static;
        width: 100%;
        margin-bottom: 1em;
    }

    #optionsbox + label {
        display: none;
    }

    #optionsinside {
        width: 100%;
    }
}



.highlighting {
    font-size: 0.8em;
    padding: .5em;
}

.cvset .btn-block { position: relative; }