{% extends "./cvbase.html" %}

{% block title %}New Matrix{% endblock %}

{% block actions %}
	{% if user.is_authenticated %}
		<h1>New Matrix</h1>
		<a href="#" class="butt"><strong>Save</strong> matrix</a>
		<a href="#" class="butt">Exit without saving</a>
	{% endif %}
{% endblock %}

{% block content %}
<form id="add">
	{% autoescape off %}{{ groupcounter }}{% endautoescape %}
	<div class="block">
		<label>Title: <input type="text" name="title"></label>
		<label>Description: <textarea type="text" name="description"></textarea></label>
		<label>Legends: <textarea type="text" name="legends" placeholder="Optional: Write about what each of step"></textarea></label>
		{{ fields }}
		<a class="butt" id="addgroupbtn" onClick="addGroup()">Add <strong>Group</strong> to Matrix</a>
	</div>
</form>
<script>
	function addCompetence(group) {
		var c = $('#competencecounter'+group);
		c.val( Number(c.val()) + 1 );
		$.get('../addcompetence/', {'num':c.val()}, function(data){
			$('#group'+group+' a').before(data);
		});
	}
	function addGroup() {
		var g = $('#groupcounter');
		g.val( Number(g.val()) + 1 );
		$.get('../addgroup/',{'num':g.val()},function(data){
			$('#addgroupbtn').before(data);
		});
	}
</script>
{% endblock %}