<fieldset id="{{ fieldtype }}{{ num }}" class="{{ fieldtype }}">
	{% if fieldtype = "competence" %}
		<label>
			<span>{{ fieldtype|capfirst }} title: </span>
			<textarea class="title" data-validation="required" name="group[{{ groupnum }}][competence][{{ num }}][label]" placeholder="{{ fieldtype|capfirst }} title"></textarea>
		</label><!--
		--><label>
			<span>Description: </span>
			<textarea name="group[{{ groupnum }}][competence][{{ num }}][description]"></textarea>
		</label>
		<input type="hidden" name="group[{{ groupnum }}][competence][{{ num }}][existing_id]">
		<a onClick="removeCompetence(this);" class="butt remove">X</a>
	{% elif fieldtype = "group" %}
		<label>
			<span>Group title: </span>
			<textarea class="title" data-validation="required" name="group[{{ num }}][title]" placeholder="Group title"></textarea>
		</label><!--
		--><label>
			<span>Description: </span>
			<textarea name="group[{{ num }}][description]"></textarea>
		</label>
		{% autoescape off %}{{ nestedfields.fields }}{% endautoescape %}
		<a class="butt" onclick="addCompetence({{ num }})">Add <strong>Competence</strong> to Group</a>
		<input type="hidden" name="competencecounter{{ num }}" id="competencecounter{{ num }}" value="{{ nestedfields.count }}">
	{% endif %}
</fieldset>