<fieldset id="{{ fieldtype }}{{ num }}" class="{{ fieldtype }}">
	{% if fieldtype = "competence" %}
		<label>
			<span>{{ fieldtype|capfirst }} title: </span>
			<input type="text" class="title" data-validation="required" name="group[{{ groupnum }}][competence][{{ num }}][title]" placeholder="{{ fieldtype|capfirst }} title" value="{{ title }}">
		</label><!--
		--><label>
			<span>Description: </span>
			<textarea name="group[{{ groupnum }}][competence][{{ num }}][description]">{{ description }}</textarea>
		</label>
		<input type="hidden" name="group[{{ groupnum }}][competence][{{ num }}][existing_id]" id="group[{{ groupnum }}][competence][{{ num }}][existing_id]" value="{{ existing_id }}">
		<a onClick="removeCompetence(this);" class="butt remove">X</a>
	{% elif fieldtype = "group" %}
		<label>
			<span>Group title: </span>
			<textarea class="title" data-validation="required" name="group[{{ num }}][title]" placeholder="Group title">{{ title }}</textarea>
		</label><!--
		--><label>
			<span>Description: </span>
			<textarea name="group[{{ num }}][description]">{{ description }}</textarea>
		</label>
		{% autoescape off %}{{ nestedfields.fields }}{% endautoescape %}
		<input type="button" class="butt" onclick="addCompetence({{ num }})" value="Add Competence to Group">
		<input type="hidden" name="competencecounter{{ num }}" id="competencecounter{{ num }}" value="{{ nestedfields.count }}">
		<input type="hidden" name="group[{{ num }}][existing_id]" value="{{ existing_id }}">
	{% endif %}
</fieldset>