{% extends "./cvbase.html" %}

{% block title %}Competence Matrices - Altran CV{% endblock %}

{% block actions %}
	{% if user.is_authenticated %}
		<h1>Competence Matrices</h1>
		<a href="/matrix/edit/" class="butt">Add new Competence Matrix</a>
	{% endif %}
{% endblock %}

{% block content %}
	{% if all_matrices %}
		{% for m in all_matrices|dictsort:"title" %}
			<div class="block tiled">
				<h3>{{ m.title }}</h3>
				<ul>
					<li>Entries: {{ m.matrixentry_set.count }}</li>
					<li>Fields: {{ m.competence_count }}</li>
				</ul>
				<a href="/matrix/edit/{{m.id}}" class="butt">Edit</a>
				<a href="/matrix/{{m.id}}" class="butt">Fill out</a>
			</div>
		{% endfor %}
	{% else %}
		<div class="block">
			<p>There are no available matrices right now, why don't you start by creating one!</p>
		</div>
	{% endif %}
{% endblock %}
