{% extends "./cvbase.html" %}

{% block title %}Kompetansematriser - Altran CV{% endblock %}

{% block actions %}
	{% if user.is_authenticated %}
		<h1>Kompetansematriser</h1>
		<a href="/matrix/edit/" class="butt">Legg til ny kompetansematrise</a>
	{% endif %}
{% endblock %}

{% block content %}
	{% if all_matrices %}
		{% for m in all_matrices|dictsort:"title" %}
			<div class="block tiled">
				<h4>{{ m.title }}</h4>
				<ul>
					<li>Antall utfylt: X</li>
					<li>Antall felter: X</li>
				</ul>
				<a href="/matrix/edit/{{m.id}}" class="butt">Rediger</a>
				<a href="/matrix/{{m.id}}" class="butt">Bruk denne matrisen</a>
			</div>
		{% endfor %}
	{% else %}
		<div class="block">
			<p>Her er det ingen kompetansematriser, dessverre!</p>
		</div>
	{% endif %}
{% endblock %}
