{% extends "./cvbase.html" %}

{% block title %}{{ matrix.title }} - Altran CV{% endblock %}

{% block actions %}
		<h1>{{ matrix.title }}</h1>
	{% if user.is_authenticated %}
		<input class="butt save" type="button" value="SAVE ENTRY">	
	{% endif %}
{% endblock %}

{% block content %}
	<style type="text/css">
		form { text-align: center; }
		table { border-collapse: collapse; border-spacing: 0; margin: auto; width: 50%; min-width: 600px; }
		@media screen and (max-width: 600px) {
			table {min-width: 100%;}
		}
		tr, td, th, table { border-spacing: 0; }
		td:first-child, th:first-child { width: 100%; text-align: left; }
		tr { border-top: 1px solid #eee; }
		.description {
			max-height: 500px; 
			-webkit-transition: max-height 2s ease; 
			   -moz-transition: max-height 2s ease; 
			     -o-transition: max-height 2s ease; 
			        transition: max-height 2s ease; 
			font-size: 0.8em; 
			overflow: hidden; 
			color: #aaa;
		}
		.hidden {max-height: 0px !important; overflow-y: hidden !important; margin:0 !important; }
		td, th {;padding: 0.4em; }
		tr:hover {background: #eee;}

		ul.exppicker {
			max-height: 400px;
			overflow-y: auto;
			background-color: rgba(255,255,255,0.5);
			margin-top: .5em;
		}	
		.exppicker li {
			list-style-type: none;
			position: relative;
			border-bottom: 1px solid #ddd;
			padding: 0.3em;
		}
		.exppicker li input[type=checkbox]{
			display: none;
		}
		.exppicker li span {
			cursor: pointer;
			padding: 0.5em 0 0.5em 0.5em;
			display: block;
		}
		.exppicker li span:hover {
			background: #fff;
		}
		.exppicker li span:before {
			content: '';
			display: inline-block;
			width: .8em;
			height: .8em;
			background: white;
			border: 1px solid #aaa;
			margin-right: 0.5em;
		}
		input:checked + span {
			background: white;
		}
		input:checked + span:before {
			background: #888;
		}

	</style>

	{% if matrix %}
		{% csrf_token %}
		<div class="block">
			<form action="competenceentrysubmit/" id="entry">
			<input type="hidden" name="matrix_id" value="{{ matrix.id }}">
			<select name="person_id">
				{% if all_persons %}
					{% for p in all_persons %}
					<option value="{{ p.id }}">{{ p.name }}</option>
					{% endfor %}
				{% endif %}
			</select>
			<input type="hidden" name="matrix_id" value="{{ matrix.id }}">
			<table>
				{% for g in matrix.skillgroup_set.all %}
					<tr> <th>{{ g.title }}</th> <th>-</th> <th>1</th> <th>2</th> <th>3</th> </tr>
					{% for c in g.competence_set.all %}
						<tr>
							<td class="title">
								{{ c.title }}
								{% if c.description %}
									<div class="description hidden">{% autoescape off %}{{ c.description }}{% endautoescape %}</div>
								{% endif %}
							</td>
							<td><input type="radio" value="0" name="competence[{{ c.id }}]" checked></td>
							<td><input type="radio" value="1" name="competence[{{ c.id }}]"></td>
							<td><input type="radio" value="2" name="competence[{{ c.id }}]"></td>
							<td><input type="radio" value="3" name="competence[{{ c.id }}]"></td>
						</tr>
					{% endfor %}
				{% endfor %}
				<tr>
					<td></td>
					<td colspan="4">
						<input type="button" value="SAVE ENTRY" class="butt save">
					</td>
				</tr>
			</table>
		
			</form>
		</div>
	{% else %}
		<p>Matrix not found</p>
	{% endif %}

<script type="text/javascript" src="{{ STATIC_URL }}js/formtojson.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/csrf.js"></script>
<script type="text/javascript">
	
	$(function() {
		
		$('tr').focusin( function() {
			unhide(this);
			console.log(this);
		}).mouseenter( function() {
			unhide(this);
		});
		
		$('tr').focusout( function() {
			hide(this);
		}).mouseleave( function() {
			hide(this);
		});

		$('select[name=person_id]').change( function() {
			loadentry();
		});

		$('.save').click( function() {
			saveentry();
		});

		var maxRating = 3;

		$('input[type=radio]').change( function() {
			if( $(this).val() == maxRating ) {
				console.log('POWER TO THE MAX!');
				showExpPicker(this);
			} else {
				hideExpPicker(this);
			}
		})

		function showExpPicker(t, hidden) {
			thisradio = $(t);
			c_id = thisradio.attr('name').replace(/competence\[|\]/g, "");
			console.log(t);
			p_id = $('select[name=person_id]').val();
			hidden = hidden || '';
			data = {
				p_id: p_id,
				c_id: c_id,
				hidden: hidden
			}
			$.ajax({
			  type: "POST",
			  url: "../addexppicker/",
			  data: FormatJSON( data )
			}).done(function( data ) {
			  thisradio.parent().siblings('.title').append(data);
			});
		}

		function hideExpPicker(t) {
			console.log('hide');
			thisradio = $(t);
			thisradio.parent().siblings('.title').children('ul').remove();
		}

		function unhide(t) {
			$(t).find('.description').removeClass('hidden');
		}

		function hide(t) {
			$(t).find('.description').addClass('hidden');

		}

		function saveentry() { 
			var formdata = FormatJSON( $('#entry').serializeObject() );
			console.log(formdata);
			$.ajax({
			  type: "POST",
			  url: "../saveentry/",
			  data: formdata
			}).done(function( msg ) {
			  alert( msg );
			});
		}

		function loadentry() { 
			var formdata = FormatJSON( $('#entry').serializeObject() );
			$.ajax({
			  type: "POST",
			  url: "../loadentry/",
			  data: formdata
			}).done(function( msg ) {
			  var j = jQuery.parseJSON( msg );
			  populatefields(j.competence);
			  // alert( FormatJSON(j) );
			});
		}

		function populatefields(comps) {
			console.log(comps);
			for (var key in comps) {
			  if (comps.hasOwnProperty(key)) {
			  	checkedBtn = $("input[name='competence["+key+"]'][value="+comps[key]+"]");
			    checkedBtn.prop( 'checked', true );
			    if( comps[key]==maxRating ) showExpPicker(checkedBtn, 'hidden');
			    hideExpPicker ( checkedBtn );
			    hide( checkedBtn.closest('tr') );
			  }
			}
		}

		loadentry();

	});

</script>

{% endblock %}