body {
	margin: 1em auto 1em auto;
	text-align: center;
	background: #eee url(../img/sky.jpg) fixed;
	background-size: cover;
	font-family: arial !important;
	}

#content { display: inline-block !important; text-align:left;}

#header{
	margin-bottom: 1em;
	color: #333;
	background-color: #fff; 
	border-radius: 5px;
	display:none !important;
	}

.breadcrumbs {display:none;}

#content {
	}

h1 { color: #555; 
	width: auto; 
	border-radius: 5px; 
	border: none;
	background: white; 
	padding: 0.5em; 
	font-size: 1.8em; 
	font-weight: normal;
	margin-bottom: 0.5em;
	}
	
.object-tools a, li { background: none !important;}

.module h2, .module caption, .inline-group h2 { background: transparent; color: #777; font-size: 1.7em; font-weight: normal; padding: 0.5em;}

.inline-group h2 {cursor: pointer;}
.inline-group h2:before {
	content: "- ";
	font-weight: 800;
	font-family: fixedsys, courier new, sans-serif;
}
.inline-group h2.closed:before {
	content: "+ ";
}

a { color: #39e !important;}

a.section:link, a.section:visited { color: #666666; }

.module, .inline-group, .submit-row {
	border-radius: 5px; 
	border: none !important;
	background: white !important;
	padding: 1em;
	}

.submit-row { margin-bottom: 10px !important;}
	
.form-row {
	border: 0 !important;
	padding: .5em !important;
	clear:both;
	}
	
.add-row {background: transparent !important; border:none !important;}
.add-row a {background-color: #ddd !important; color: #444 !important;}

h3 {border-top: 1px solid #ddd;}

input, textarea { border-radius: 4px;}

input[name="_addanother"] {display:none;}
input[name="_save"], input[name="_continue"] { font-size: 1.1em !important; background-color: #ddd !important; color: #444 !important; border:0 !important; float: right;}

.ui-autocomplete { list-style: none !important; display:inline-block; text-align: left;}
.ui-autocomplete li { list-style: none !important; display:inline-block;}
.ui-autocomplete a { color: #444 !important;}
.ui-autocomplete a:hover { color: #fff !important;}

a.add-link {color: white !important;}

select[multiple] {height: 150px; width: 70%;}

.errorlist li {color: red !important;}

@media (max-width: 1366px) {
	body {
		padding-left: 80px;
	}
}