{% load image_tags %}
{% if query %}

    {% for p in page.object_list %}

		<div class="block tiled">
		
			<header>
				<h3>{{ p.name }}</h3>
				<h4>{% if p.object.title %}{{ p.object.title }}{% else %} ---{% endif %}</h4>
			</header>
			{% if p.object.image %}
				<img src="{{ p.object.image|scale:"110x110" }}" class="photo" style="float: left;">
			{% endif %}
			<div class="completeness">
				<div class="percent{% if p.object.completeness.percent < 100 %} redpercent{% endif %}" style="width: {{ p.object.completeness.percent }}%;"></div>
			</div>
			<section>
				<p class="ldetail">Score: {{ p.score }}<br/>
				{{ p.object.phone }} - {{ p.object.mail }}</p>
			</section>

			<div class="cvset">
				{% if user.is_authenticated %}
					<p class="ldetail">
						Profile {{ p.object.completeness.percent }}% complete. Updated: {{ p.object.last_edited|date:"SHORT_DATE_FORMAT" }}<br>
					</p>
					{% if p.object.completeness.comment %}<ul class="ldetail">{{ p.object.completeness.comment|unordered_list }}</ul>{% endif %}
					<a href="{% url admin:cv_person_change p.object.id %}" class="butt">Edit person</a>
				{% endif %}
				<table>
				{% for cv in p.object.cv_set.all|dictsortreversed:"cvsort" %}
					{% if user.is_anonymous and cv.tags == "Empty CV" or p.object.completeness.percent < 10 %}
					{% else %}
					<tr>
						<td><a href="{% url cv_detail cv.id %}" class="butt bigbutt{% if cv.tags = "Empty CV" %} empty{% elif not cv.is_recent or not cv.status.complete %} red{% endif %}" title="{{ cv.status.comment }}">{{ cv.tags }}<br/>
						<span class="dato">{% if cv.tags != "Empty CV" %}{{ cv.last_edited|date:"SHORT_DATE_FORMAT" }} <span class="completeness"><span class="percent{% if cv.status.percent < 100 %} redpercent{% endif %}" style="width: {{ cv.status.percent }}%;"></span></span> {{ cv.status.percent }}%{% else %}&nbsp;{% endif %}</span></a></td>
						{% if user.is_authenticated %}
							<td><a href="{% url admin:cv_cv_change cv.id %}" class="butt">Edit<br/>
							<span class="dato">CV</span></a></td>
						{% endif %}
					</tr>
					{% endif %}
				{% endfor %}
				</table>
			</div>
			
		</div>
	{% empty %}

		<div class="block">
			<p>No results for: {{ query }}</p>
		</div>

	{% endfor %}

{% else %}
{% endif %}