body {
  background-color: #ddd !important;
  text-align: center; }

.wide {
  max-width: 1337px;
  margin: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

/* START Content */
#content {
  padding-bottom: 350px; }

#actions {
  padding: 1em; }

/* END Content */
/* START block-element */
.block {
  position: relative;
  background: #fff;
  padding: 1em;
  margin-bottom: 1em;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: left;
  vertical-align: top;
  border-bottom: 2px solid #ccc;
  width: 100%;
  transition: all 0.2s;
  -o-transition: all 0.2s;
  /* Opera */
  -moz-transition: all 0.2s;
  /* Firefox 4 */
  -webkit-transition: all 0.2s;
  /* Safari and Chrome */ }
  .block h3 {
    line-height: 1.3em;
    font-weight: normal;
    font-size: 120%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .block h4 {
    line-height: 1.3em;
    font-weight: normal;
    color: #aaa;
    font-size: 90%; }
  .block ul {
    list-style: none;
    margin-bottom: 0.5em; }

.tiled {
  margin: 0 .5em 1em .5em;
  width: 300px;
  height: 130px; }
  .tiled header {
    margin-right: 48px; }
  .tiled section {
    position: absolute;
    left: 1em;
    right: 1em;
    bottom: 1em; }

.hidden {
  max-width: 0px !important;
  opacity: 0;
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  overflow: hidden; }

.cardstyle {
  border-bottom: 2px solid #ccc; }

/* END block-element */
/* CV LIST */
#filter {
  padding: .5em;
  font-size: 80%; }

.tags {
  display: none; }

.photo {
  max-height: 48px;
  max-width: 48px;
  position: absolute;
  right: 1em;
  top: 1em; }

.cvset {
  display: inline-block;
  background: white;
  max-height: 0px;
  width: 280px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  top: 127px;
  left: 10px;
  z-index: 500;
  /* onMouseOut: Width waits until height is done before shrinking */
  transition: max-height 0.2s, padding 0 0.3s, box-shadow 0 0.3s;
  -o-transition: max-height 0.2s, padding 0 0.3s, box-shadow 0 0.3s;
  /* Opera */
  -moz-transition: max-height 0.2s, padding 0 0.3s, box-shadow 0 0.3s;
  /* Firefox 4 */
  -webkit-transition: max-height 0.2s, padding 0 0.3s, box-shadow 0 0.3s;
  /* Safari and Chrome */ }
  .cvset table {
    margin-top: .5em;
    font-size: 0.75em; }
  .cvset td {
    padding: 0 0 .5em 0; }
  .cvset .btn {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left !important; }

.tiled:hover {
  box-shadow: 0 5px 6px 1px rgba(0, 0, 0, 0.3); }

.block:hover .cvset {
  max-height: 500px;
  padding: .5em;
  margin: 0;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 5px 6px 1px rgba(0, 0, 0, 0.3);
  /* onMouseOver: Width expands immediately before height transitions */
  transition: all .2s .3s;
  -o-transition: all .2s .3s;
  /* Opera */
  -moz-transition: all .2s .3s;
  /* Firefox 4 */
  -webkit-transition: all .2s .3s;
  /* Safari and Chrome */ }

.alertbox {
  background: #fdd;
  padding: .5em;
  margin-bottom: .5em;
  color: #800 !important; }

.rdetail, .ldetail {
  font-size: .75em;
  line-height: 1.5em; }

.rdetail {
  float: right;
  clear: right; }

.ldetail ul {
  margin-left: 1.5em;
  list-style: circle; }

.completeness {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: inline-block;
  height: 4px;
  background: #C21A01;
  padding: 0px;
  overflow: hidden; }

/* color of complete progress bar */
.percent {
  height: 100%;
  background-color: #eee; }

/* Color of incomplete progress bar */
.redpercent {
  background: #eaa; }

span.completeness {
  display: inline-block;
  vertical-align: middle;
  background: #C21A01;
  height: 3px; }

span.percent {
  background: #aaa;
  display: block; }

.table-fixed {
  table-layout: fixed;
  width: 100%; }

.table-fixed-main-td {
  width: 82%; }

.table-fixed tr {
  display: flex; }

.table-fixed-main-td {
  flex: 1; }

/* END CV LIST*/
/* INPUT ELEMENTS */
input, textarea {
  font: inherit;
  border: 1px solid rgba(127, 127, 127, 0.3); }

.highlight {
  font-size: 0.8em;
  opacity: 0.6; }

/* FORM */
#matrix input[type="text"], #matrix textarea {
  display: block;
  margin: 0 0 1em 0;
  font-size: 1.5em;
  font-weight: normal;
  padding: 0.3em;
  padding-top: 0.8em !important; }

fieldset {
  background-color: #eee;
  padding: 1em;
  margin-bottom: 1em; }

fieldset.competence {
  padding: 0 0 0 1em;
  margin: 0 0 .5em 0;
  border: none;
  background: #ddd; }

#matrix label {
  display: inline-block;
  font-size: .6em;
  font-weight: bold;
  position: relative; }

#matrix label span {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  top: 2px;
  left: 4px; }

.competence textarea {
  margin: 0 !important; }

.error {
  border: 1px solid red; }

.lock {
  padding: .5em;
  color: #fff; }

/* FORM END*/
/* Responsive table */
.responsivetable {
  min-width: 380px;
  background-color: #fff; }
  .responsivetable tbody {
    border-top: 1px solid #ddd; }
  .responsivetable small {
    color: #aaa; }
  .responsivetable th {
    color: #999;
    font-size: 1.3em; }
  .responsivetable td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline; }
    @media (min-width: 720px) {
      .responsivetable td:before {
        display: none; } }
  .responsivetable th, .responsivetable td {
    display: block;
    text-align: left;
    vertical-align: top;
    padding: .25em; }
    @media (min-width: 720px) {
      .responsivetable th, .responsivetable td {
        display: table-cell; } }

/*# sourceMappingURL=base.css.map */
