	* {margin:0;padding:0}
	
	body {
		width:750px;
		margin:auto;
		font-family: arial, segoe ui, sans serif;
		font-size: 11pt;
		color: #333;
		background: #eee url(../img/sky.jpg) fixed;
		background-size: cover;
	}
	
	#printlogo {width: 80px; margin: auto; display:inherit;}
	
	#topmenu {
		background: white;
		margin: 20px;
		padding: 15px;
		border-radius: 5px;
	}
	
	.body {
		overflow: auto;
		background: white;
		padding: 8%;
		margin: 20px;
		border-radius: 5px;
		-moz-box-shadow: 	0px 2px 2px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
		box-shadow: 		0px 2px 2px rgba(0,0,0,0.5);
	}
	
	p {font-size: 0.9em; line-height: 1.5em; margin-bottom: 0.75em; font-family: arial;}
	ul { margin-bottom: 1em;}
	li {font-size: 0.8em; line-height: 1.5em; font-style: italic; margin-left: 2em; font-family: arial;}
	
	.contact {float: right; margin-top: 1.5em;}
	h1, .h1 {font-size: 2.2em; margin-top: 0.2em; color: #39e; font-weight: bold; }
	h2, .h2 {font-weight: normal; font-size: 1.6em; margin-top: 0.5em; margin-bottom: 0.3em;}
	.profile {font-size: 1.1em; line-height: 1.5em;}
	
	.left {
		float:left; 
		width: 17%; 
		margin-right: 3%; 
		color: #999; 
		font-weight: normal; 
		font-style: italic; 
		text-align: right;
	}
	
	.bigbox {
		float:right;
		width: 80%;
	}
	
	.part {
		margin: 2em 0 0 0;
		padding: 2em 0 0 0;
		border-top: 1px solid #ddd;
		clear:both;
		overflow: auto;
		page-break-inside: avoid;
	}
	
	h3, .h3 {font-size: 1.2em; line-height:1.5em;}
	
	/* 3 Skills */
	h4, .h4 {font-size: 1.2em; line-height:1.4em; font-weight: normal; color: #39e;}
	
	/* Technical skills lists */
	h5, .h5 {font-size: 1em;}
	
	/* Tekniske listerier */
	.techset, .other {margin-bottom:0.5em; overflow: hidden; position: relative;}
	
	/* Work experience and Education */
	.year {color: #999; font-style:italic;}
	.workplace {font-weight: bold;}
	.techs {font-style: italic; color: #999; font-size: 0.7em;}

	section {margin-bottom:2em; page-break-inside: avoid; position: relative; background: white;}
	
	.toggle {width: 16px; height: 16px; background: red; position: absolute; top: 0; right: 0; cursor: pointer; text-align:center; border-radius: 3px; z-index: 2000;}
	.toggle:hover {background: #300;}
	.toggle:before {content: "\00D7"; font-size: 16px; line-height: 16px;color: white;}

	.draghandle {
		position: absolute; 
		right: 20px; 
		top: 0; 
		background-color: #eee; 
		width: 16px; 
		height: 100%; 
		border-radius: 3px; 
		cursor: move; 
		text-align: center;
		font-size: 12px;
		line-height: 100%;
		}
		
	.draghandle:hover { background-color: #ddd;}
	
	.draghandle:before {content: '\2191'; position: absolute; top: 0; width: 100%; left:0; color: #777;}
	.draghandle:after {content: '\2193'; position: absolute; bottom: 0; width: 100%; left:0; color: #777;}